@charset "utf-8";

#tsc_player {
   z-index: 9999;    
}

.tscplayer_inline {
	position:static;
	width: 570px;
	height: 280px;
	z-index:auto;
}

.tscplayer_fullframe {
	position:absolute;
	top: 0px;
	left: 0px;
	margin: 0px;
	padding: 0px;
	z-index: 9999;	
}