<template>
    <form class="messenger_form" id="uploadForm" name="uploadForm" enctype="multipart/form-data">
        <div class="flex between align_center">
            <textarea
                id="body"
                placeholder="Напишите сообщение..."
                class="form-input"
                @keydown="typing"
                v-model="body">
            </textarea>
            <input type="submit" class="btn green" value="Отправить" v-on:click="sendMessage">
        </div>
        <input type="file" id="files" name="files">
    </form>
</template>

<script>


    export default {
        data() {
            return {
                body: null,
                requestId: $('#app').attr('data-requestId')
            }
        },
        methods: {
            typing(e) {

                if (e.keyCode === 13 && !e.shiftKey) {
                    this.sendMessage(e);
                }
            },
            sendMessage(e) {
                e.preventDefault();

                var imagefile = document.querySelector('#files');

                if ((this.body && this.body.trim() !== '') || imagefile.files.length > 0) {

                    const data = new FormData(document.getElementById('uploadForm'));
                    data.append('file', imagefile.files);

                    if (this.body) {
                        data.append('body', this.body.trim());
                    }

                    data.append('requestId', this.requestId);
                    axios.post('/message/add', data, {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }).then(response => {
                        if (response.data.error) {
                            $('#uploadForm').append('<div id="errorBlock" style="background: #f7761b40; display: block;padding: 5px; margin: 10px 0 0 0">' + response.data.error + '</div>')

                            setTimeout(function () {
                                $('#errorBlock').hide('slow', function () {
                                    $(this).remove();
                                });
                            }, 10000);
                        }
                    }).catch(error => {
                        console.log(error.response)
                    });

                    this.body = null;
                    $('[type=file]').val('');
                } else {
                    return false;
                }
            },
            buildMessage() {
                return {
                    id: Date.now(),
                    body: this.body,
                    requestId: this.requestId,
                    selfMessage: true,
                    user: {
                        name: Laravel.user.name
                    }
                }
            }
        }
    }
</script>
