<template>
    <div class="messenger_body" ref="message">
    <message-component
            v-for="message in messages"
            :key="message.id"
            :message="message">
    </message-component>
    </div>
</template>

<script>

    import Event from '../event.js';

    export default {
        methods: {
            getMessages() {
                axios.get('/messages/' + this.requestId).then((response) => {
                    this.messages = response.data;
                });

                if (this.countMessages < this.messages.length) {
                    this.countMessages = this.messages.length;

                    $('.messenger_body').scrollTop(99999999);
                }
            },
            stopTimer() {
                if (this.interval) {
                    window.clearInterval(this.interval)
                }
            },
            startTimer() {
                this.stopTimer();
                this.interval = window.setInterval(() => {
                    this.getMessages()
                }, 500)
            },
            getScrollHeight() {
                $(this.$refs.message).each(function(){
                    this.scrollHeight+= $(this).width();
                });
            }
        },
        data() {
            return {
                messages: [],
                countMessages: 0,
                scrollHeight: 0,
                requestId: $('#app').attr('data-requestId')
            }
        },
        mounted() {
            this.getMessages();
            this.startTimer();

            axios.get('/messages/' + this.requestId).then((response) => {
                this.messages = response.data;
                this.countMessages = this.messages.length;

                this.$refs.message.scrollTop = 99999999;
            });
        },
        beforeDestroy() {
            this.stopTimer()
        }
    }
</script>
