<template>
    <div class="messenger flex between">
        <chat-message-component></chat-message-component>
        <!--<vote-form-component v-if="closed == 1"></vote-form-component>-->
        <chat-form-component></chat-form-component>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                closed: null,
                requestId: $('#app').attr('data-requestId')
            }
        },
        methods: {
            getRequest() {

                axios.post('/requests/item/' + this.requestId).then(response => {
                    this.closed = response.data.closed;
                }).catch(error => {
                    console.log(error.response)
                });

            },
            startTimer() {
                this.interval = window.setInterval(() => {
                    this.getRequest()
                }, 1000)
            }
        },
        mounted() {
            this.getRequest();
            this.startTimer();
        },
    }
</script>
