<template>
    <a id="lawyerInfoWrapper" v-if="countMessages > 0" href="/requests">
        <span>У Вас {{ countMessages }} неотвеченных сообщения</span>
    </a>
</template>

<script>

    export default {
        methods: {
            getMessages() {
                axios.get('/messages/my').then((response) => {
                    this.countMessages = response.data;
                }).catch(function (error) {
                    window.location.reload();
                });
            },
            pulsateforever() {

                if ( this.state ) {
                    $( "#lawyerInfoWrapper" ).animate({
                        backgroundColor: "#ff6900",
                    }, 5000 );
                } else {
                    $( "#lawyerInfoWrapper" ).animate({
                        backgroundColor: "#AB4900",
                    }, 5000 );
                }
                this.state = !this.state;
            },
            stopTimer() {
                if (this.interval) {
                    window.clearInterval(this.interval)
                }
            },
            startTimer() {
                this.stopTimer();
                this.interval = window.setInterval(() => {
                    this.getMessages();
                    this.pulsateforever();
                }, 2000)
            }
        },
        data() {
            return {
                countMessages: '',
                state: true
            }
        },
        mounted() {
            this.startTimer();
            this.getMessages();
            this.pulsateforever();
        },
        beforeDestroy() {
            this.stopTimer()
        }
    }

</script>
