<template>
    <span class="notifications" v-if="countMessages > 0">{{ countMessages}}</span>
</template>

<script>

    export default {
        methods: {
            getMessages() {
                axios.get('/messages/my').then((response) => {
                    this.countMessages = response.data;
                }).catch(function (error) {
                    window.location.reload();
                });
            },
            stopTimer() {
                if (this.interval) {
                    window.clearInterval(this.interval)
                }
            },
            startTimer() {
                this.stopTimer();
                this.interval = window.setInterval(() => {
                    this.getMessages()
                }, 2000)
            }
        },
        data() {
            return {
                countMessages: ''
            }
        },
        mounted() {
            this.startTimer();
            this.getMessages();
        },
        beforeDestroy() {
            this.stopTimer()
        }
    }
</script>
