<template>

    <div :class="{ 'self': message.selfMessage }" class="message user" v-if="message.selfMessage == true">
        <span class="name">Вы</span>
        <span class="time">{{ message.created_at | formatDate}}</span>
        <div class="message_text">{{ message.body }}
            <div class="file flex between start" v-if="message.attache">
                <div class="extension">{{ message.attache_extention }}</div>
                <div class="name_size">
                    <a :href="message.userPath" download target="_blank">Прикреплённый</a>
                    <span>{{ message.attache_size }}KB</span>
                </div>
            </div>
        </div>
    </div>

    <div :class="{ 'self': message.selfMessage }" class="message agent" v-else="message.selfMessage == false">
        <span class="name">{{ message.user.name }}</span>
        <span class="time">{{ message.created_at | formatDate}}</span>
        <div class="message_text" v-bind:class="[message.read == 0 ? 'notRead' : '']">{{ message.body }}
            <a @click="toPay( message.bill.sum, message.bill.id)" class="green btn" href="javascript:void(0)" v-if="message.bill && message.bill.paid == 0">Оплатить</a>
            <div class="file flex between start" v-if="message.attache">
                <div class="extension">{{ message.attache_extention }}</div>
                <div class="name_size">
                    <a :href="message.userPath" download target="_blank">Прикреплённый</a>
                    <span>{{ message.attache_size }}KB</span>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['message'],
        methods: {
            toPay: function (sum, orderId) {
                toPay(sum, orderId);
            }
        }
    }
</script>
