<template>
    <form class="messenger_form" enctype="multipart/form-data" id="ratingForm" name="uploadForm">
        <div class="info">
            <div style="float:right;color:grey" v-if="rating">Вы уже оставили оценку, но можете всегда ее изменить!</div>
        </div>
        <div class="title">Пожалуйста оцените работу юриста</div>
        <div class="stars between align_center" style="margin: 20px 0">
            <ul class="rate-area">
                <input :checked="sRating == 5" id="5-star" name="rating" type="radio" v-model="sRating" value="5"/>
                <label for="5-star" title="Amazing"></label>
                <input :checked="sRating == 4" id="4-star" name="rating" type="radio" v-model="sRating" value="4"/>
                <label for="4-star" title="Good"></label>
                <input :checked="sRating == 3" id="3-star" name="rating" type="radio" v-model="sRating" value="3"/>
                <label for="3-star" title="Average"></label>
                <input :checked="sRating == 2" id="2-star" name="rating" type="radio" v-model="sRating" value="2"/>
                <label for="2-star" title="Not Good"></label>
                <input :checked="sRating == 1" id="1-star" name="rating" type="radio" v-model="sRating" value="1"/>
                <label for="1-star" title="Bad"></label>
            </ul>
            <div class="flex">
            <textarea
                @keydown="typing"
                class="form-input"
                id="body"
                name="message"
                placeholder="Ваш отзыв..." style="margin: 0 0 0 20px" v-model="message">
            </textarea>
                <input type="submit" class="btn green" v-on:click="sendMessage" value="Отправить">
            </div>
        </div>
    </form>
</template>

<script>

    export default {
        data() {
            return {
                rating: null,
                sRating: null,
                message: null,
                requestId: $('#app').attr('data-requestId')
            }
        },
        methods: {
            typing(e) {

                if (e.keyCode === 13 && !e.shiftKey) {
                    this.sendMessage(e);
                }
            },
            getRating() {

                console.log(this.sRating);

                if (this.sRating == null) {
                    axios.post('/rating/get/' + this.requestId).then(response => {
                        this.rating = this.sRating = response.data.value;
                    }).catch(error => {
                        console.log(error.response)
                    });
                } else {
                    this.rating = this.sRating;
                }

            },
            sendMessage(e) {
                e.preventDefault();

                const data = new FormData(document.getElementById('ratingForm'));

                data.append('requestId', this.requestId);

                axios.post('/rating/add', data).then(response => {
                    $('#ratingForm .info').html('<div style="float:right;color:green">Спасибо за Вашу оценку!</div>');
                    this.message = null;
                }).catch(error => {
                    $('#ratingForm .info').html('<div style="float:right;color:red">Вы не выбрали оценку!</div>');
                });
            }
        },
        mounted() {
            this.getRating();
        },
    }
</script>
