html , body{ min-height: 101%; height: 101%;position: relative; }
body {
    font: 16px 'FreeSetWebBook', Verdana, Arial, Tahoma, Helvetica, sans-serif;
    background: #fff url('../img/des/bg_line.png')  top center no-repeat; color: #000;
    position: relative;
    line-height: 120%;
}

header, footer, section, aside, label, nav, figure, article, hgroup, figurecapture, div, form { display: block; position: relative; }
iframe { border: 0px; outline: 0px; }
.left { float: left; }
.right { float:right; }
.center { margin: 0px auto; }
.justifycenter { text-align: center; }
.justifyleft { text-align: left; }
.justifyright { text-align: right; }
.justifyfull { text-align: justify; }
.hide { display: none; }

#wrapper {
    min-height: 101%; _height: 101%;
}

.container {
    display: block; position: relative;
    width: 1000px;
    margin: 0px auto;
}

/* border-radius */
.b_r10px {
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px; }
.b_r15px {
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px; }
.b_r5px {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px; }

a { color: #b71717; text-decoration: underline; }
a:hover { color: #ff6900; }
a:active { color: #97d700; }

h1,h2,h3,h4,h5,h6 { color: #000; font-weight: normal; font-family: 'FreeSetWebBook', Tahoma;}
h1 { font-size: 24px; }
h2 { font-size: 20px; }
h3 { font-size: 18px; }
h4 { font-size: 16px; }
h5 { font-size: 14px; }
h6 { font-size: 12px; }

hr {
    height: 1px; border: 0px;
    background: #ccc;
    border-bottom: 1px solid #fff;
}

#menu{
    
}


/* breadcrumbs.blade.php */
#breadcrumbs {
    display: block; font-size: 11px; color: #999999;
    margin: 0px; padding: 0px; padding-bottom: 10px;
}
#breadcrumbs a { color: #999999; }
#breadcrumbs a:hover { text-decoration: underline; color: #b0b0b0; }
#breadcrumbs li {
    display: inline;
    margin: 0px; padding: 0px;
}
#breadcrumbs li + li:before{
  content:  '»';
  margin:   0 2px;
}


/* input & buttons */
input[type="text"],input[type="password"], textarea {
    width: 209px;
    padding: 9px 12px; margin: 0px 0px; margin-bottom: 7px;
    border:  0px;
    background: #ffffff;
    font-family: 'FreeSetWebBook', Tahoma; color: #728e0d; font-size: 14px;
    outline: none;
	-moz-appearance: none;
}
textarea {
    height: 150px;
    vertical-align: top;
    -webkit-transition: height 0.2s; /* animate for resizing */
    -moz-transition: height 0.2s;
    transition: height 0.2s;
}
input[type="password"]:focus,
input[type="text"]:focus,
textarea:focus { color: #333;  }

button, input[type="submit"] {
    padding: 5px 10px; margin: 5px 0px;
    border: 1px solid #cccccc;
    background: #fafafa;
    font-family: Tahoma; color: #999; font-size: 16px;
    cursor: pointer;
    outline: none;
	-moz-appearance: none;
}
button:active, input[type="submit"]:active {
    color: #333;
    background: #f6f6f6;
    border: 1px solid #999;
}


/* formit */
input.ferror, textarea.ferror {
   border: 1px solid red !important;
}
#req_overlap {
   display: none;
   position: absolute; z-index: 2; 
   width: 450px; height: 447px;
   margin-left: -10px; margin-top: -10px;
   background: #000;
   opacity: 0.8;
   filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);
   -moz-opacity: 0.8;
   -khtml-opacity: 0.8;
}
#req_overlap img { width: 64px; height: 64px; margin-left: 200px; margin-top: 150px; }
#form_request {
}

#form_request .error {
   padding: 10px;
   color: red; font-weight: bold;
   text-align: right;
}
#form_request .sucmes {
   padding: 10px;
   color: darkgreen; font-weight: bold;
   text-align: right;
}

/* tables */
table { width: 100%; margin-top: 10px; margin-bottom: 15px; }
table p { margin: 0px !important; padding: 0px !important; text-indent: 0px !important; }
table td {
    text-align: center;
    vertical-align: middle;
    border-collapse: collapse;
    border: none;
    padding: 10px 5px;
    background: #fff; color: #000;
    border-bottom: 1px solid #d9d9d9;
}

#ya_map { margin-bottom: 10px; }
#ya_map,
#ya_map > ymaps { width: 615px !important; height: 280px !important;  }


.sisea-highlight { padding: 2px 3px; background: #ccffff;}

.pagination ul,
.pagination ul li {
    display: block; position: relative;
	margin: 0px; padding: 0px; text-align: center;
}
.pagination ul li {
	display: inline-block; _display: inline;
}
.pagination ul li a {
	color: #555; text-shadow: 1px 1px 1px #f5f5f5;
	padding: 2px 5px; margin-right: 3px;
	text-decoration: none;
	
	background: #ebebeb;
}
.pagination ul li a:hover {
	background: #f4f4f4;
}

/* slider */ 
#slider { width: 960px; height: 480px; }
.camera_wrap .camera_pag {
    position: absolute; z-index: 100500;
    margin-top: -59px;
    width: 960px;
    background: url('../img/des/transp_1.png')
}
.camera_wrap .camera_pag .camera_pag_ul {
    text-align: center !important;
}


.g_overloader_image {
    height: 64px; width: 64px;
    background: url('../img/des/loader.png') top left no-repeat;
}
.overloader {
    background: url('../img/des/transp_1.png') repeat;
    z-index: 1000;
}

header.header {
    height: 219px; 
    background: rgb(151,215,0) url('../img/des/line_head.png') bottom center no-repeat;
}
header.header .space {
    background: rgb(254,80,0); z-index: 1;
    height: 6px;
}
header.header .logo {
    display: block; position: relative;
    background: url('../img/des/logo.png') no-repeat;
    width: 323px; height: 192px;
    text-indent: -99999px; margin-left: 0px; margin-top: -5px;
}

header.header .authPanel {
    margin-top: 26px; display: block; position: relative;
    width: 233px; color: #fff;
}
header.header .authPanel .links {
    line-height: 21px; margin-top: 5px; margin-left: 8px;
}
header.header .authPanel  a {
    font-size: 14px; color: #f4fce2; text-decoration: underline;
}
header.header .authPanel  a:hover { text-decoration: none; }

header.header .authPanel input[type="submit"] {
    border: 0px; margin: 0px; padding: 0px;
    width: 99px; height: 42px; margin-top: 5px;
    background: url('../img/des/button_min.png') no-repeat;
    color: #fff; font-size: 16px;
    text-shadow: 0px -1px 0px #bf2900;
}
header.header .authPanel input[type="submit"]:hover { text-decoration: underline;}

header.header .buts {
    width: 208px; margin-right: 36px; margin-top: 26px;
}
header.header .buts a {
    display: block; position: relative;
    width: 209px; height: 60px; line-height: 60px;
    color: #fff; font-size: 19px;  text-align:center; text-decoration: none;
    text-shadow: 0px -1px 0px #bf2900; margin-bottom: 10px;
    background: url('../img/des/button_big.png') no-repeat;
}
header.header .buts a:hover { text-decoration: underline;}


section.uslugi {
    height: 428px; padding-top: 40px;
}
section.uslugi .menu,
section.uslugi .menu li,
section.uslugi .menu li a {
    display: block; position: relative;
    margin: 0px; padding: 0px;
}
section.uslugi .menu li { float: left; }

section.uslugi .menu li a {
    display: table;
    width: 209px; height: 60px;
    background: url('../img/des/button_ics.png') top left no-repeat;
    font-size: 18px; line-height: 17px; color: #fff;
    text-shadow: 0px -1px 0px #418100;
    margin-right: 54px; margin-bottom: 21px;
    text-decoration: none;
}
section.uslugi .menu li:nth-child(4n) a { margin-right: 0px; float: right; }
section.uslugi .menu li a:hover { background-position: bottom; text-shadow: 0px -1px 0px #bf2900; }
section.uslugi .menu li a .cell {
    display: table-cell; position: relative;
    vertical-align: middle;
    border-collapse: collapse;
}
section.uslugi .menu li a .cell.name { width: 139px; }
section.uslugi .menu li a .cell.img { width: 70px; }
section.uslugi .menu li a .cell.img img { margin-left: 3px; }
section.uslugi .menu li a .min1 { font-size: 16px; }
section.uslugi .menu li a .min2 { font-size: 14px; }


section.inform {
    background: rgb(255,105,0);
    color: #fff; height: 103px;
}
section.inform p { margin: 0px; padding: 0px; }
section.inform .texted {
    width: 860px; padding-top: 13px;
    font-size: 17px; line-height: 25px;
}

section.inform .nit_orange {
    position: absolute; right: -141px; top: 0px;
    width: 84px; height: 103px;
    background: url('../img/des/nit_on_orange.png') no-repeat;
}
section.inform .pers {
    position: absolute; right: 0px; top: -78px;
    width: 140px; height: 196px;
    background: url('../img/des/pers.png') no-repeat;
}
section.inform .info {
    position: absolute; right: 143px; top: -108px;
    width: 223px; height: 73px; padding-top: 20px;
    background: url('../img/des/oblako.png') no-repeat;
    
    text-align: center;
}
section.inform .info a {
    color: #fff;  font-size: 21px; text-decoration: underline;
}
section.inform .info a:hover { text-decoration: none; }
section.inform .info img { margin-bottom: 10px; }



section.blocks {
    margin-top: 55px;
}

section.blocks .title {
    font-size: 16px; text-transform: uppercase;
    font-family: 'FreeSetWebBook', verdana; color: #82817f;
    font-weight: bold;
    margin-bottom: 20px;
}
section.blocks .title img { margin-right: 8px; margin-top: -3px; }
section.blocks .contacts {
    width: 207px;
}
section.blocks .contacts img.map{width: 207px;}
section.blocks .contacts .str { margin-bottom: 10px; }
section.blocks .contacts .str .name{
    width: 50px;
    color: #fe5000; font-size: 12px;
    font-family: 'FreeSetWebBook'; font-weight: bold; font-style: italic;
}
section.blocks .contacts .str .val {
    width: 157px; padding-top: 3px;
    color: #485908; font-size: 12px; line-height: 15px;
}
section.blocks .contacts .str .val.phone {
    color: #000; font-size: 16px; padding-top: 0px;
}

section.blocks .news .title { color: #97d700; }
section.blocks .news {
    width: 464px;
    margin-left: 60px;
}
section.blocks .news .one {
    display: block; position: relative;
    text-decoration: none; margin-bottom: 30px;
}
section.blocks .news .one .date {
    width: 115px;
    font-family: 'FreeSetWebBook', verdana; font-size: 15px;
    font-weight: bold; line-height: 36px; color: #fe5000;
}
section.blocks .news .one .date span { font-size: 24px; }
section.blocks .news .one  .text {
    width: 342px; color: #909090; font-size: 12px;
    text-decoration: underline; line-height: 17px;
}
section.blocks .news .one  .text .pagetitle { color: #303030; }
section.blocks .news .one  .text p { margin: 0px; padding: 0px; }
section.blocks .news .one:hover .date { color: #fe5000; }
section.blocks .news .one:hover .text { text-decoration: none;  }


section.blocks .pay .title { margin-right: 10px;}
section.blocks .pay { width: 250px; text-align: right;}
section.blocks .pay .ics img {
    display: block; float: right; position: relative;
    margin-left: 14px;
}

footer.footer {
    padding: 35px 0px; text-align: right; padding-top: 15px;
    font-size: 13px; font-family: 'FreeSetWebBook', verdana;
}
footer.footer .text { color: #e1540e; margin-right: 40px; }
footer.footer .copyrights { color: #4b1f09; margin-top: -1px; }
footer.footer .copyrights a { color: #6bba24; text-decoration: underline; font-weight: bold; }
footer.footer .copyrights a:hover { text-decoration: none; }

#pre_load {
    position: absolute; z-index: 6; top: 50%; left: 50%; display: none;
    margin-left: -32px; margin-top: -32px;
    height: 64px; width: 64px;
    background: url('../img/des/loader.png') top left no-repeat;
}
#overlay {
    position: fixed; z-index: 5;
    width: 100%; height: 101%;
    background: url('../img/des/transp_2.png') repeat;
    cursor: pointer;
}
section.content {
    position: absolute; z-index: 10;
    top: 160px; left: 50%; margin-left: -373px;
}
section.content .close {
    position: absolute; right: 30px; top: 27px;
    width: 22px; height: 22px;
    background: url('../img/des/close.png') no-repeat;
    cursor: pointer;
}
section.content .title {
    height: 75px; width: 746px;
    background: #ff6900; color: #fff;
    
    border-radius: 20px 20px 0px 0px;
    -moz-border-radius: 20px 20px 0px 0px;
    -webkit-border-radius: 20px 20px 0px 0px;
    -khtml-border-radius: 20px 20px 0px 0px;
}
section.content .title h1 {
    margin: 0px; padding: 0px;
    padding-top: 25px; margin-left: 38px;
    color: #fff; font-size: 30px;  line-height: 21px;
}
section.content .text_area {
    width: 670px; height: 299px;
    padding: 43px 38px; padding-bottom: 73px;
    background: #fff; line-height: 24px;
    
    border-radius: 0px 0px 20px 20px;
    -moz-border-radius: 0px 0px 20px 20px;
    -webkit-border-radius: 0px 0px 20px 20px;
    -kht
    ml-border-radius: 0px 0px 20px 20px;
}

section.content .text_area ul {
     list-style-image: url('../img/des/li.jpg');
     margin-left: 0px; padding-left: 15px;
}
section.content .text_area li { margin-left: 0px; padding: 0px;}

.scroll_pane { width: 670px; height: 299px; outline: none; overflow: hidden; }

.one_article_more { margin-bottom: 20px; }
.one_article_more .date {
    width: 115px;
    font-family: 'FreeSetWebBook', verdana; font-size: 18px;
    font-weight: bold; line-height: 36px; color: #ff6900;
}
.one_article_more .date span { font-size: 36px; }
.one_article_more .tits {
    color: #414141; font-size: 16px;
    text-decoration: underline;
}
.one_article_more .tits:hover {
    color: #6f6f6f;
}

.scroll_pane input[type="text"],
.scroll_pane input[type="password"],
.scroll_pane textarea {
    border: 1px solid #ececec;
    background: #fff;
}
.scroll_pane .error {
    font-size: 12px; color: Red;
}

.ask_me_obl { margin-top: 10px; }
.ask_me_obl ul,
.ask_me_obl ul li,
.ask_me_obl ul li a {
    display: block; position: relative;
    margin: 0px; padding: 0px; /*620*/
}
.ask_me_obl ul li {
    float: left; width: 140px; height: 100px;
    text-align: center; margin-right: 10px; margin-bottom: 10px;
}
#ask_me .str { margin-bottom: 10px; }
#ask_me  .str .tits {}
#ask_me  .str .tits span { color: red; font-size: 18px;  }
#ask_me .str select { width: 300px; height: 38px; outline: none; border: 1px solid #ececec;  }
#ask_me .str input[type="text"] { width: 280px; }
#ask_me .str textarea { width: 600px; height: 150px;}
#ask_me input[type="submit"] { width: 200px;}

.button {
    display: inline-block; 
    padding: 10px 20px;
    color: #fff;

    cursor:pointer; line-height: 24px;
    border: 1px solid #d35900;
    background: #ff6900; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI2JSIgc3RvcC1jb2xvcj0iI2ZmNjkwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMDVhMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #ff6900 6%, #f05a00 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(6%,#ff6900), color-stop(100%,#f05a00)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ff6900 6%,#f05a00 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ff6900 6%,#f05a00 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ff6900 6%,#f05a00 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ff6900 6%,#f05a00 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6900', endColorstr='#f05a00',GradientType=0 ); /* IE6-8 */
    
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;

}

.scroll_pane input[type="submit"], .scroll_pane button {
    padding: 10px 20px;
    color: #fff;

    cursor:pointer; line-height: 24px;
    border: 1px solid #64a400;
    background: #96d600; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk2ZDYwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1NTk1MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #96d600 0%, #559500 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#96d600), color-stop(100%,#559500)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #96d600 0%,#559500 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #96d600 0%,#559500 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #96d600 0%,#559500 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #96d600 0%,#559500 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#96d600', endColorstr='#559500',GradientType=0 ); /* IE6-8 */
    
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
}
