.profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.specializations .line {
    height: auto;
}

.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
    display: flex !important;
}

#preloader {
    position: fixed;
    z-index: 10;
    text-align: center;
    width: 100%;
    height: 100%;
    background: #fff;
}

.optimization-preloader {
    margin: -57px 0 0 22px !important;
    background: none !important;
}

#preloader img {
    margin: 15% 0 0 0;
}

header {
    z-index: 15;
}

.fancybox-close {
    top: -35px;
    right: -35px;
}

.fancybox-skin {
    padding: 0 !important;
    background: #fff;
}

.fancybox-skin .profile {
    padding: 25px 0;
}

#tabs {
    width: 500px;
}

.formErrors li {
    list-style-type: none;
    width: 100% !important;
    padding: 5px;
}

.formErrors, .error-info {
    background: #ff00002e;
    font-size: 12px;
    margin: 0 0 15px 0;
}

a.callback {
    color: #fff !important;
}

.contacts input[type=radio] {
    display: none;
}

.ui-state-active {
    border: none !important;
    background: #fff;
    color: #000 !important;
}

.ui-state-active a {
    color: #000 !important;
}

.ui-widget-overlay {
    opacity: 0.7;
}

.mod_body {
    background: none;
}

.ui-dialog .ui-dialog-titlebar-close {
    position: absolute;
    right: -1%;
    top: 20%;
    width: 36px;
    margin: -10px 0 0 0;
    padding: 1px;
    height: 36px;
}

.ui-widget .ui-widget {
    margin: -50px -36px 0 0 !important;
    background-image: url(fancybox_sprite@2x.png);
    background-size: 44px 152px; /*The size of the normal image, half the size of the hi-res image*/
    background-color: initial;
    border: none;
}

.ui-button .ui-icon {
    display: none;
}

.ui-widget-header {
    height: 0;
    border: 0;
    padding: 0 !important;
}

.alert {
    min-height: auto !important;
}

.ui-widget.ui-widget-content {
    font-family: 'Exo20-Regular', sans-serif;
    padding: 25px 0;
    border-radius: 4px;
}

#specialisation-articles:before {
    display: block;
    content: "";
    height: 160px;
    margin: -160px 0 0;
}

@media all and (max-width: 1050px) {
    .owl-theme .owl-nav {
        display: none;
    }

    #specialisation-articles:before {
        height: 80px;
        margin: -80px 0 0;
    }

}

.owl-carousel li {
    padding: 5px 15px;
}

textarea.form-control {
    color: #000 !important;
}
