@font-face {font-family: 'Exo20-Light'; src: local('../fonts/Exo 2 Light'), local('../fonts/Exo2-Light'), url('../fonts/exo2light.woff2') format('woff2'), url('../fonts/exo2light.woff') format('woff'), url('../fonts/exo2light.ttf') format('truetype'); font-weight: 300; font-style: normal;}
@font-face {font-family: 'Exo20-Regular'; src: local('../fonts/Exo 2'), local('../fonts/Exo2-Regular'), url('../fonts/exo2.woff2') format('woff2'), url('../fonts/exo2.woff') format('woff'), url('../fonts/exo2.ttf') format('truetype'); font-weight: 400; font-style: normal;}
@font-face {font-family: 'Exo20-Bold'; src: local('../fonts/Exo 2 Bold'), local('../fonts/Exo2-Bold'), url('../fonts/exo2bold.woff2') format('woff2'), url('../fonts/exo2bold.woff') format('woff'), url('../fonts/exo2bold.ttf') format('truetype'); font-weight: 700; font-style: normal;}
@font-face {font-family: 'Exo20-Black'; src: url('../fonts/exo2black.eot'); 	src: local('☺'), url('../fonts/exo2black.woff') format('woff'), url('../fonts/exo2black.ttf') format('truetype'), url('../fonts/exo2black.svg') format('svg'); 	font-weight: normal; 	font-style: normal;}
@font-face {font-family: 'Exo20-BlackItalic'; src: local('../fonts/Exo 2 Black Italic'), local('../fonts/Exo2-BlackItalic'), url('../fonts/exo2blackitalic.woff2') format('woff2'), url('../fonts/exo2blackitalic.woff') format('woff'), url('../fonts/exo2blackitalic.ttf') format('truetype'); font-weight: 900; font-style: italic;}
@font-face {font-family: 'Exo20-Italic'; src: local('../fonts/Exo 2 Italic'), local('../fonts/Exo2-Italic'), url('../fonts/exo2italic.woff2') format('woff2'), url('../fonts/exo2italic.woff') format('woff'), url('../fonts/exo2italic.ttf') format('truetype'); font-weight: 400; font-style: italic;}

/* ----------------флексы----------------------- */
.flex {display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex;}
.wrap {-webkit-flex-wrap: wrap; -moz-flex-wrap: wrap; -ms-flex-wrap: wrap; -o-flex-wrap: wrap; flex-wrap: wrap;}
.nowrap {-webkit-flex-wrap: nowrap; -moz-flex-wrap: nowrap; -ms-flex-wrap: nowrap; -o-flex-wrap: nowrap; flex-wrap: nowrap;}
.between {-webkit-box-pack: justify; -webkit-justify-content: space-between; justify-content: space-between;}
.around {-webkit-justify-content: space-around; justify-content: space-around;}
.start {-webkit-justify-content: flex-start; justify-content: flex-start;}
.end {-webkit-justify-content: flex-end; justify-content: flex-end;}
.center {-webkit-justify-content: center; justify-content: center;}
.align-top {align-items:flex-start;}
.align-center {align-items:center; align-content: center;}
.align-bottom {align-items:flex-end;}
.align-baseline {align-items: baseline;}

.bold {font-family: 'Exo20-Bold';}
.italic {font-style:italic;}

.margin-top {margin-top:80px !important;}
.padding30-20 {padding:30px 20px;}

.width1-1 {width:100%;}
.width1-2 {width:49%;}
.width1-3 {width:32%;}
.width2-3 {width:67%;}
.width1-4 {width:24%;}
.width1-5 {width:19%;}
.width2-5 {width:40%;}

.shadow {box-shadow: 0 0px 25px 0px rgba(0, 0, 0, 0.1);}

* {box-sizing:border-box;}
html{font-size: 18px; height:100%;}
body{	margin: 0;padding: 0; color:#57585b; font-family: 'Exo20-Regular', sans-serif; height: 100%; background:#f9f9f9;}
audio, canvas, img, svg, video {max-width: 100%; height: auto; box-sizing: border-box;}
h1, h2, h3, h4, h5, h6 {font-weight:normal;margin: 0;}
p{margin: 10px 0;}
:focus{outline: none;}
table {border-collapse: collapse;}
button:focus, input:focus, a:focus, textarea:focus {outline: none;}
a{text-decoration: none; transition: all 0.2s; color:#57585b;}
a:hover {color: #8cc200; text-decoration:underline;}
.animated {-webkit-transition: all 200ms; -moz-transition: all 200ms; -o-transition: all 200ms; transition: all 200ms;}
img{border:0; max-width:100%; display:inline-block;}
section{padding-bottom: 50px;}
/*input, */button {-webkit-appearance: none;}
.fixed_body{overflow: hidden;}
.container {width:100%; max-width:1280px; margin:0 auto; padding: 0 10px;}
.content {width:100%; max-width:1280px; margin:200px auto 0; padding: 0 10px;}
.wrapper{flex-direction:column; height: 100%; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex;}
.container-wrap{flex: 1 0 auto;}
ul {margin:0; padding:0;}
.clr {clear:both; display:block;}

::-webkit-input-placeholder {color:#cacaca; font-family: 'Exo20-Regular', sans-serif;}
::-moz-placeholder {color:#cacaca; font-family: 'Exo20-Regular', sans-serif;}
:-moz-placeholder {color:#cacaca; font-family: 'Exo20-Regular', sans-serif;}
:-ms-input-placeholder {color:#cacaca; font-family: 'Exo20-Regular', sans-serif;}

.mobpanel {display:none;}

.breadcrumbs li {list-style:none;}
.breadcrumbs li a {text-decoration:underline;}
.breadcrumbs li::after {content:'/'; margin:0 3px; display:inline-block;}
.breadcrumbs li:last-child::after {display:none;}

h1 {font-family: 'Exo20-Bold'; font-size:44px; text-transform:uppercase; margin:40px 0;}
h2 {font-family: 'Exo20-Bold'; font-size:40px; text-transform:uppercase; position:relative; margin-bottom:50px;}
h2 span {background:#f9f9f9; position:relative; z-index:2; padding-right:10px;}
h2::before {content:''; display:block; width:100%; height:2px; background:#57585b; position:absolute; top:51%; left:0;}

.line .top i {display:inline-block;}
.icon-avto {background-image: url(../images/sprite.png); background-position: -30px -105px; width: 35px; height: 29px;}
.icon-bank {background-image: url(../images/sprite.png); background-position: -35px -70px; width: 35px; height: 35px;}
.icon-dogovory {background-image: url(../images/sprite.png); background-position: -140px 0px; width: 26px; height: 35px;}
.icon-intellectualniya {background-image: url(../images/sprite.png); background-position: 0px -105px; width: 30px; height: 35px; min-width: 30px;}
.icon-medicina {background-image: url(../images/sprite.png); background-position: -35px -35px; width: 35px; height: 35px;}
.icon-migracia {background-image: url(../images/sprite.png); background-position: -70px 0px; width: 35px; height: 35px;}
.icon-nalogi {background-image: url(../images/sprite.png); background-position: -105px -66px; width: 35px; height: 32px;}
.icon-nasledstvo {background-image: url(../images/sprite.png); background-position: 0px 0px; width: 35px; height: 35px;}
.icon-nedvijimost {background-image: url(../images/sprite.png); background-position: -105px -34px; width: 35px; height: 32px;}
.icon-pensia {background-image: url(../images/sprite.png); background-position: -100px -105px; width: 35px; height: 12px;}
.icon-pokupki {background-image: url(../images/sprite.png); background-position: -70px -35px; width: 35px; height: 35px;}
.icon-rabota {background-image: url(../images/sprite.png); background-position: -105px 0px; width: 35px; height: 34px;}
.icon-semya {background-image: url(../images/sprite.png); background-position: -65px -105px; width: 35px; height: 26px;}
.icon-shraphi {background-image: url(../images/sprite.png); background-position: -70px -70px; width: 35px; height: 35px; min-width: 30px;}
.icon-ugolovnie-dela {background-image: url(../images/sprite.png); background-position: 0px -35px; width: 35px; height: 35px;}
.icon-voinskaya-obiazannost {background-image: url(../images/sprite.png); background-position: -140px -35px; width: 24px; height: 35px;}
.icon-vziskanie-dolgov {background-image: url(../images/sprite.png); background-position: 0px -70px; width: 35px; height: 35px;}
.icon-zhkh {background-image: url(../images/sprite.png); background-position: -35px 0px; width: 35px; height: 35px;}

.btn {font-size: 18px; padding: 0 20px; border-radius: 4px; line-height: 36px; height: 40px; cursor: pointer; color:white; display:inline-block; width:auto; -webkit-transition: all 200ms; -moz-transition: all 200ms; -o-transition: all 200ms; transition: all 200ms;}
.orange {box-shadow: 0px 0px 7px 2px rgba(255,133,82,1); background: rgb(255,133,82); background: linear-gradient(45deg, rgba(255,133,82,1) 0%, rgba(253,159,119,1) 100%);}
.green {box-shadow: 0px 0px 7px 2px rgba(140,194,0,1); background: rgb(140,194,0); background: linear-gradient(45deg, rgba(140,194,0,1) 0%, rgba(179,226,58,1) 100%);}

.orange:hover {color:white; background: rgb(255,133,82); background: linear-gradient(45deg, rgba(253,159,119,1) 0%, rgba(253,159,119,1) 100%); text-decoration:none;}
.green:hover {color:white; background: rgb(140,194,0); background: linear-gradient(45deg, rgba(179,226,58,1) 0%, rgba(179,226,58,1) 100%); text-decoration:none;}

.whitebg {background:white; box-shadow: 0 0px 25px 0px rgba(0, 0, 0, 0.1);}
.whitebg.margin-top {padding:50px 0;}
.whitebg h2 span {background:white;}

.overlay {position: fixed; height: 100%; width: 100%; background: #ffffff; display: none; z-index: 120; top: 0;}
.overlay .layout {height: 100%;}
.overlay .panel {display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; align-items: center; align-content: center; -webkit-justify-content: center; justify-content: center; -webkit-flex-wrap: wrap; -moz-flex-wrap: wrap; -ms-flex-wrap: wrap; -o-flex-wrap: wrap; flex-wrap: wrap; height: 100%; text-align: center;}
.overlay .layout .contrast {display: flex; flex-wrap: wrap; flex-direction: column; justify-content: center; align-items: center;} 
.overlay .title {font-size: 24px; text-align: center;}
.close-btn {width: 30px; height: 24px; position: absolute; top: 20px; right: 20px; cursor: pointer; z-index: 10;}
.close-btn span {display: block; position: absolute; height: 3px; width: 100%; background: #57585b; border-radius: 9px; opacity: 1; left: 0;}
.close-btn span:nth-child(1) {top: 10px; -webkit-transform: rotate(135deg); -moz-transform: rotate(135deg); -o-transform: rotate(135deg); transform: rotate(135deg);}
.close-btn span:nth-child(2) {opacity: 0; left: -60px;}
.close-btn span:nth-child(3) {top: 10px; -webkit-transform: rotate(-135deg); -moz-transform: rotate(-135deg); -o-transform: rotate(-135deg); transform: rotate(-135deg);}
.overlay .form-with-types {width: 100%; max-width: 500px;}

.mod_bg {background:rgba(0,0,0,0.2); width:100%; height:100%;}
.mod_bg h2 {font-size:24px;}
.mod_bg h2::before {display:none;}
.mod_body {width:100%; max-width:520px; background:#f2f2f2; position:relative;}
.mod_body.white {background:white; padding:15px 75px 25px 75px;}
.mod_body label {font-weight:500; color:#616161;}
.mod_body img.close_mod {position:absolute; top:-25px; right:-25px; cursor:pointer;}
.forget_password {text-align:right; margin-bottom:20px;}
.forget_password a {color: #ff8552; text-decoration:underline;}
.submit {text-align:center;}
#tabs li {width: 50%; list-style: none;}
.ui-tabs-tab a {width: 100%; text-align: center; background: #bebebe; padding: 15px; display: inline-block; color: white;}
.ui-tabs-active a {background: white; color: #616161;}
.tab_space {background: white; padding: 20px 75px;}
.mod_body label {font-weight: 500; color: #616161;}
.form input {width: 100%; border: none; border-bottom: 1px solid #cacaca; padding: 10px; margin-bottom: 15px;}
.form input.green {width: 100%; height: 40px; font-family: 'Exo20-Regular', sans-serif; color: white; font-size: 18px; padding:0; border: none; cursor: pointer; transition: all 200ms;}
.mod_body select {width: 100%; padding: 5px; font-family: 'Exo20-Regular', sans-serif; font-weight: 300; font-size: 16px; color: #767575; margin-bottom: 20px; border: none; border-bottom: 1px solid #cacaca; margin-top: 5px;}
.form input[type="checkbox"] {width: auto !important; border: none; border: 1px solid #cacaca; margin-bottom:0;}
.checkbox.personal {margin-bottom:20px;}

header {background:white; position:fixed; top:0; left:0; width:100%; padding:5px 0; z-index:5;}
header .logo {width:200px;}
header .menu li {list-style:none;}
header .menu li a {color:#57585b;}
header .menu li.active a {color:#8ec400;}
header .top {font-size:16px; border-bottom:1px solid #cacaca; padding:10px 0;}
header .fa {color:#ff8552;}
header .top .right {width:100%; max-width:570px;}
header .top .right .menu {width:355px;}
header .bottom {padding:10px 0 0px;}
header .bottom .menu {width:400px;}
header .bottom .menu a {font-family: 'Exo20-Regular', sans-serif;}
header .contacts-block a {color:#57585b; margin-right:30px; font-family: 'Exo20-Regular', sans-serif;}

.authorized_header {position: relative; height: 100%; min-width: 140px; cursor:pointer;}
.name_and_menu .user_name {margin-left: 20px !important;}
.name_and_menu .user_name span {font-size: 18px; text-decoration: none !important; margin-right: 20px;}
.right_block .container div i {margin-right: 7px;}
.authorized_header:hover .user_menu {display: block;}
.name_and_menu .user_menu {display:none; position: absolute; top: 42px; left: 0; color: white; width: 100%; box-shadow: 0px 0px 7px 2px rgba(140,194,0,1); background: rgb(140,194,0); background: linear-gradient(45deg, rgba(140,194,0,1) 0%, rgba(179,226,58,1) 100%);}
.name_and_menu .user_menu li {list-style:none; padding: 10px 20px; cursor: pointer;}
.name_and_menu .user_menu li a {color: white; width: 100%; display: inline-block;}

.slideshow {height:960px; position:relative; max-width:2100px; margin:0 auto; width:100%;}
.slide {height:960px; background-size:cover !important; padding-top: 100px;}

@media all and (max-width:2100px) {.slideshow, .slide {height:960px;}}
@media all and (max-width:2000px) {.slideshow, .slide {height:920px;}}
@media all and (max-width:1950px) {.slideshow, .slide {height:900px;}}
@media all and (max-width:1900px) {.slideshow, .slide {height:880px;}}
@media all and (max-width:1850px) {.slideshow, .slide {height:850px;}}
@media all and (max-width:1800px) {.slideshow, .slide {height:810px;}}
@media all and (max-width:1750px) {.slideshow, .slide {height:780px;}}
@media all and (max-width:1700px) {.slideshow, .slide {height:760px;}}
@media all and (max-width:1650px) {.slideshow, .slide {height:740px;}}
@media all and (max-width:1600px) {.slideshow, .slide {height:720px;}}
@media all and (max-width:1550px) {.slideshow, .slide {height:700px;}}
@media all and (max-width:1500px) {.slideshow, .slide {height:670px;}}
@media all and (max-width:1400px) {.slideshow, .slide {height:600px;}}
@media all and (max-width:1300px) {.slideshow, .slide {height:590px;}}
@media all and (max-width:1200px) {.slideshow, .slide {height:530px;}}
@media all and (max-width:1100px) {.slideshow, .slide {height:490px;}}

.slide h1 {font-family: 'Exo20-Bold', sans-serif; font-size:42px; line-height:48px; color:white; max-width:60%; text-transform:uppercase; text-shadow: 2px 2px 4px rgba(150, 150, 150, 0.8);}
.slide ul {max-width:60%; padding:0; margin:30px 0;}
.slide li {font-size:24px; line-height:30px; color:#57585b; list-style:none; margin-bottom:10px;}
.slide .action {max-width:600px;}
.slide .action p {font-size:14px; width:100%; max-width:350px;}

.slideshow .owl-theme .owl-nav {margin-bottom:-60px;}
.slideshow .owl-dots {margin-top:-50px;}
.owl-theme .owl-nav [class*=owl-] {background:none !important; padding:0 !important; margin:0 !important; border-radius:0 !important;}
.owl-dots {position: relative; z-index: 100;}
.owl-prev {position: absolute; left: 20px; top: 50%;}
.owl-next {position: absolute; right: 20px; top: 50%;}
.owl-prev::before {content:"\f104"; font-family:'FontAwesome'; color:#ff8552; font-size:48px;}
.owl-next::before {content:"\f105"; font-family:'FontAwesome'; color:#ff8552; font-size:48px;}
.owl-carousel li {list-style:none; padding:5px;}
.owl-carousel li .img-wrap {height:110px;}
.owl-carousel li img {display:inline-block;}
.owl-item li .bottom-text {text-align:center;}
.owl-theme .owl-dots .owl-dot span {border:1px solid #ff8552; background:transparent !important; width: 15px !important; height: 15px !important;}
.owl-theme .owl-dots .owl-dot.active span {background:white !important;}
.owl-theme .owl-dots .owl-dot:hover span {background:white !important;}

.benefits .item {margin-bottom:10px; -webkit-transition: all 200ms; -moz-transition: all 200ms; -o-transition: all 200ms; transition: all 200ms;}
.benefits .item:hover {box-shadow: 0 0px 25px 0px rgba(86, 87, 90, 0.35);}
.benefits .item .title {font-size:20px; color:#8ec400; border-bottom:1px solid #8ec400; font-family: 'Exo20-Bold'; text-transform:uppercase; padding:10px;}
.benefits .item .text {font-size:18px; padding:10px;}

.director .text {font-size:16px; line-height:20px;}
.director .bold, .director .italic {text-align:right;}

.specializations .line {height:300px; padding:60px 0 20px;}
.specializations .line .top {margin-bottom:15px; min-height: 40px;}
.specializations .lines .line:nth-child(odd) {background:white; box-shadow: 0 0px 25px 0px rgba(0, 0, 0, 0.1); -webkit-transition: all 200ms; -moz-transition: all 200ms; -o-transition: all 200ms; transition: all 200ms;}
.specializations .lines .line:nth-child(odd):hover {box-shadow: 0 0px 25px 0px rgba(86, 87, 90, 0.35);}
.specializations .title {font-family: 'Exo20-Bold'; text-transform:uppercase; margin-left:10px; -webkit-transition: all 200ms; -moz-transition: all 200ms; -o-transition: all 200ms; transition: all 200ms;}
.specializations .item:hover .title {color: #8ec400;}
.specializations li {list-style:none; line-height:24px;}
.specializations li a::before {content:"\f105"; font-family:'FontAwesome'; margin-right:5px; color:#57585b;}

.slider-container {max-width:1100px; width:100%; margin:0 auto;}
.slider-container .owl-prev {left: -40px; top:30%;}
.slider-container .owl-next {right: -40px; top:30%;}

.form-with-types {width: 100%; max-width: 500px; margin: 0 auto;}
.form-with-types a {color:#92c80e; font-family: 'Exo20-Regular';}
.form-with-types .form-title {text-align:center; font-size: 24px;}
.form-with-types .c-types {margin: 25px 0;}
.form-with-types .c-item {width: 85px; height: 75px; font-size: 13px; line-height: 14px; box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.1); text-align: center; transition: 0.2s; background: #fff; padding: 5px; cursor: pointer; color: #57585b; transition: all 400ms; border-radius:5px;}
.form-with-types .c-item:hover, .form-with-types .c-item.checked {background:#b3e23a; color:white;}
.form-with-types .c-item .fa {font-size: 24px; margin-bottom: 3px; color: #8cc200; -webkit-transition: all 200ms; -moz-transition: all 200ms; -o-transition: all 200ms; transition: all 200ms;}
.form-with-types .c-item:hover .fa, .form-with-types .c-item.checked .fa {color:white;}
.form-with-types .c-item span {width: 100%; text-align: center; height: 30px; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; align-items: center; align-content: center; -webkit-justify-content: center; justify-content: center;}
.form-with-types .c-item .type {display: none;}
.form-with-types .c-item .placeholder {display: none;}
.form-with-types .text {margin-top: 5px; font-size: 12px; line-height: 14px; display:block; text-align:center;}
.form-with-types .inputs-btns .input-wrap input.type, .subscribe .input-wrap input.email {font-family: 'Exo20-Regular', sans-serif; width: 100%; height: 50px; padding: 0 15px; color: #57585b; font-size: 18px; line-height: 20px; border: 1px solid #e8e8e8; transition: all 200ms;}
.form-with-types .inputs-btns .input-wrap .btn.green, .subscribe .input-wrap .btn.green {width: 100%; height: 50px; font-family: 'Exo20-Regular', sans-serif; color: white; font-size: 18px; line-height: 24px; background-color: #ffcf3f; border: none; cursor: pointer; transition: all 200ms;}

.choosen-type {display:none;}

.dela .text .title {font-family: 'Exo20-Bold'; font-size:30px; border-bottom:1px solid #8cc200; padding-bottom:10px;}
.dela .text .subtitle {font-size:24px; text-transform:uppercase; color:#8cc200; margin:25px 0 15px; font-family: 'Exo20-Bold'; display:block;}
.slider-dela .owl-prev {top: 50%;}
.slider-dela .owl-next {top: 30%;}

.goto {margin:50px 0 0 0; text-align:center;}

.testimonials .italic {margin-top:20px; text-align:right;}

.digitals .big {font-size:72px; color:#8cc200; font-family: 'Exo20-Black';}
.digitals .medium {font-size:24px;}
.digitals p {max-width:290px;}
.digitals .items {width:100%; margin:0 auto}
.digitals .items .item.width1-3 {max-width:310px; margin:0 40px;}
.digitals .width1-1 {text-align:center; margin-top:30px;}

.contacts .left {text-align:center;}
.contacts .big {font-size:36px;}
.contacts .little {font-size:24px;}
.contacts .left a {font-family: 'Exo20-Bold'; font-size:72px; color: #57585b;}

.about .title {font-family: 'Exo20-Bold'; font-size:24px; margin-bottom:30px;}

footer {margin-top:100px;}
footer .container {margin-bottom:30px;}
footer li {list-style:none; line-height:30px;}
footer li a {color: #57585b;}
footer li.active a {color:#8cc200;}
footer p {text-align:center;}
footer .logo {width:230px;}
footer .item {border-right:1px solid #cacaca;}
footer .right {border-right:none;}
footer .right a {font-size:15px;}
footer .right p {margin:0;}


/*02-Специализации*/

.quicknav {margin-bottom:50px;}
.quicknav::before {content:'Быстрый переход:'; margin-right:5px; margin-top: 2px;}
.quicknav li {list-style:none; vertical-align:middle;}
.quicknav li * {display:inline-block; vertical-align:middle;}
.quicknav li::after {content:"\f111"; font-family:'FontAwesome'; margin:0 3px; font-size:8px; color:#b7b7b7;}
.quicknav li a {color:#ff7e46;}
.quicknav li a:hover {text-decoration:underline}

.specializations-items .item {margin-bottom:25px;}
.specializations-items .item .top {margin-bottom:20px;}
.specializations-items ul {border-bottom:1px solid #cacaca; padding-bottom:20px; margin-bottom:20px;}
.specializations-items ul li {list-style:none; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-pack: justify; -webkit-justify-content: space-between; justify-content: space-between; align-items:flex-end; margin-bottom: 10px; text-decoration: underline;}
.specializations-items ul li p {flex-basis:100%; flex-shrink:1; margin-right:20px;}
.specializations-items ul li p a {color:#ff7e46;}
.specializations-items ul li p+a {flex-basis:140px; flex-shrink:0; color:#ff7e46;}

.specializations-items .title {font-family: 'Exo20-Bold'; font-size:24px; text-transform:uppercase; margin-left:10px;}

.show-all-services {font-size:24px;}
.show-all-services::after {content:"\f105"; font-family:'FontAwesome'; margin:0 3px; color:#ff7e46;}

/*03-Подспециализация*/

.video iframe {width:100%;}
.video-undertitle {font-size:16px; color:#959596; text-align:center;}
.contacts-horizontal h2 {border-bottom:2px solid #57585b;}
.contacts-horizontal h2::before {display:none;}
.textarea-question {width:100%; height:100px; padding: 15px; color: #57585b; font-size: 18px; line-height: 20px; border: 1px solid #e8e8e8; transition: all 200ms;}
.specialisation-articles li {list-style:none; margin-bottom:10px;}
.specialisation-articles a {color:#ff8552;}

/*04-Статья подспециализации*/

.green-titles h2 {font-size:30px; color:#8cc200; margin:0 0 20px 0;}
.green-titles h2::before, .text h2::before {display:none;}
.green-titles.non-uppercase h2 {text-transform:initial; font-family: 'Exo20-Regular'; font-size:30px;}
.green-titles h3 {font-size:30px; color:#8cc200; margin:40px 0 20px 0; text-transform:uppercase; font-size:18px; font-family: 'Exo20-Bold';}
.green-titles h3::before {content:"\f111"; font-family:'FontAwesome'; font-size:10px; vertical-align:middle; margin-right:10px;}
.photo-undertitle {font-size:16px; color:#959596; text-align:center;}
.we-help {padding-left:20px;}
.we-help ul, .text ul, .tarifs ul {padding-left:20px; margin:20px 0;}
.we-help ul li, .text ul li, .tarifs ul li, .price-block .desc ul li {margin-bottom:10px; list-style:none;}
.we-help ul li::before, .text ul li::before, .tarifs ul li::before, .price-block .desc ul li::before {content: "\f105"; font-family: 'FontAwesome'; margin-right: 5px; color: #8cc200; border: 2px solid #8cc200; border-radius: 50%; width: 20px; height: 20px; line-height: 20px; display: inline-block; text-align: center; font-size: 19px; font-weight: bold;} 

/*05-Прайс-лист*/

.price-block {margin-bottom:20px;}
.price-block .top {margin-bottom:40px;}
.price-block .top .title {font-family: 'Exo20-Bold'; font-size:36px; text-transform:uppercase;}
.price-block .price-item {margin-bottom:20px; padding-bottom:20px; border-bottom:1px solid #cacaca;}
.price-block .image {flex-basis:150px; flex-shrink:0; text-align:center;}
.price-block .service {flex-basis:100%; flex-shrink:1; padding:0 15px;}
.price-block a.title {font-family: 'Exo20-Bold'; font-size:24px;}
.price-block .desc {margin-top:15px;}
.price-block .desc a {color:#ff8552;}
.price-block .price {flex-basis:200px; flex-shrink:0; text-align:center;}
.price-block .price p {color:#8cc200; margin:3px 0;}
.price-block .price a {color:#ff8552;}

/*06-Страница прайс-листа*/
.short-desc {margin-bottom:40px;}
.price-article-head {}
.price-article-head .left {flex-basis:100%; flex-shrink:1; padding-right:20px;}
.price-article-head .price {color:#8cc200; font-family: 'Exo20-Bold'; font-size:30px; text-transform:uppercase;}
.price-article-head h2 {font-family: 'Exo20-Bold'; font-size:36px; text-transform:uppercase; margin-bottom: 20px; margin-top:0 !important;}
.price-article-head h2::before {display:none;}
.price-article-head .right {flex-basis:500px; flex-shrink:0;}
.price-article-head .right .contacts .title {font-size:30px; line-height:36px; margin-bottom:10px;}
.text h2 {margin-bottom: 30px; margin-top: 40px; font-size:36px;}

/*07-Горящие услуги*/
.hot-services .item {margin-bottom:20px;}
.hot-services .item .image {flex-basis:130px; flex-shrink:0; padding-right:20px;}
.hot-services .item .right {flex-basis:100%; flex-shrink:1;}
.hot-services .item .title {width:100%; font-family: 'Exo20-Bold'; font-size:24px; line-height:24px; margin-bottom:10px;}
.hot-services .item .order {color:#ff8552; margin-right:20px;}
.hot-services .item .readmore {color:#8cc200;}

/*08-Описание горящей услуги*/

.hot-article-head .right .contacts .title {font-size: 30px; line-height: 36px; margin-bottom: 10px;}
.hot-article-head .right {flex-basis: 500px; flex-shrink: 0;}
.hot-article-head .video {flex-basis: 100%; flex-shrink: 1; margin-right: 90px;}
.tarifs {text-align:left; margin:40px 0;}
.tarifs th {font-weight:normal; width:33%;}
.tarifs .title {font-family: 'Exo20-Bold'; font-size:36px; text-transform:uppercase; color:#8cc200;}
.tarifs .desc {font-family: 'Exo20-Regular';}
.tarifs td, .tarifs th {vertical-align:top; padding:10px;}
.tarifs tr td, .tarifs tr th {border-right:1px solid #cacaca;}
.tarifs tr td:last-child, .tarifs tr th:last-child {border-right:none;}
.tarifs tr th {border-bottom:1px solid #cacaca;}

/*09-Статьи*/
.two-columns {}
.two-columns aside .menu {background:white; margin-bottom:20px; padding:20px 15px; border-radius: 4px;}
.two-columns aside {flex-basis:300px; flex-shrink:0; margin-right:20px;}
.two-columns aside li {list-style:none; margin-bottom:15px; width:100%;}
.two-columns aside li.active a {color: #ff8552; border-bottom:1px solid #ff8552; width:100%; display: block;}
.two-columns aside li.active a:hover {text-decoration:none;}
.two-columns aside .subscribe {background:white; padding:20px 15px; border-radius: 4px;}
.two-columns aside .subscribe p {font-size:16px;}
.two-columns aside .input-wrap {margin-bottom:10px;}
.two-columns aside .subscribe .policy {font-size:14px; line-height:16px;}
.two-columns aside .subscribe .policy a {color: #ff8552;}

.two-columns .articles {flex-basis:100%; flex-shrink:1;}
.two-columns .articles .item {margin-bottom:40px;}
.two-columns .articles .item .title {font-family: 'Exo20-Bold'; font-size:30px; margin-bottom: 10px;}
.two-columns .articles .item .title::before {display:none;}
.undertitle-article-block {margin-top:10px;}
.undertitle-article-block .category i {display:inline-block; margin-right:10px;}
.date .fa {color: #8cc200; margin-right:10px;}
.date + .text h2 {margin-top:0;}
.two-columns .articles .item .desc {margin-bottom:20px;}

.pagination li {list-style:none; margin:0 10px;}
.pagination li a.active {color: #ff8552;}
.pagination li a:hover {text-decoration:none;}

/*12-Мы в СМИ*/

.undertitle-article-block img {margin-right:10px; max-width:100px;}


/*13-Новости-Новость*/

.news-article {margin:20px 0;}
.news-article h1 {margin:10px 0;}
.news-article .right .image img {box-shadow: 0 0px 25px 0px rgba(0, 0, 0, 0.3);}
.other-articles {border-top:2px solid #8cc200; margin-top:40px; padding-top:20px;}
.other-articles h2 {color:#8cc200; margin-bottom:20px;}
.other-articles h2::before {display:none;}
.other-articles li {list-style:none; margin-bottom:10px;}
.other-articles li * {display:inline-block; vertical-align:middle;}
.other-articles li .date {margin-right:5px;}
.other-articles li a {margin-left:5px;}
.subscribe.in-article {max-width:1030px; margin:100px auto 0;}
.subscribe.in-article h2 {text-align:center; font-size:36px; color:#57585b;}
.subscribe.in-article h2:before {display:none;}
.subscribe.in-article form {max-width:500px; margin:0 auto;}
.subscribe.in-article .policy {max-width:500px; margin:10px auto; display:block; font-size:14px;}
.subscribe.in-article .policy a {color: #ff8552;}

/*16-Вопрос-ответ*/

.title-with-btn h1 {flex-basis:100%; flex-shrink:1; margin-right:20px;}
.title-with-btn .btn {flex-basis:170px; flex-shrink:0; text-align: center;}
.question {max-width:900px; margin:100px auto 0;}
.question h2 {text-align:center; font-size:36px;}
.question h2:before {display:none;}

/*17-Страница вопроса ответа*/

.question-answer-article h2 {color: #8cc200; margin-top: 20px;}
.question-block {border-bottom:1px solid #cacaca; padding-bottom:20px;}

/*18-Выиграные дела*/
.category i {margin-right:10px;}

/*19-Наша команда*/

.content h1 + p {margin-top:-40px;}
.team .item {margin-bottom:50px; text-align:center;}
.team.center .item {margin:0 8px 50px; text-align:center;}
.team .image img {box-shadow: 0 0px 25px 0px rgba(0, 0, 0, 0.1);}
.team .name::after {content:''; display:block; width:25%; height:1px; background:#cacaca; margin:0 auto;}
.team .name a {color:#8cc200; font-size:24px; text-transform:uppercase; font-family: 'Exo20-Bold';}
.team .role {font-style:italic;}

/*20-Сотрудник*/

.person-single-top {}
.person-single-top .about {}
.person-single-top .about .role {font-size:18px; font-style:italic; border-bottom:1px solid #8cc200; padding-bottom:20px; margin-bottom:20px;}
.person-single-top .about {}
.person-single-top .about p {font-size:30px; line-height:36px;}
.person-single-top .about .person-email {margin-top:40px; display:block;}
.person-single-top .about a .fa {color:#ff7e46;}

.person-single-text h2 {font-size:30px; color:#8cc200; margin-top:40px; margin-bottom:10px;}

/*22-О компании*/

.slider-team .item {text-align:center;}
.slider-team .image img {box-shadow: 0 0px 25px 0px rgba(0, 0, 0, 0.1); width:100%; margin-bottom:10px;}
.slider-team .name::after {content:''; display:block; width:25%; height:1px; background:#cacaca; margin:0 auto;}
.slider-team .name a {color:#8cc200; font-size:20px; text-transform:uppercase; font-family: 'Exo20-Bold';}
.slider-team .role {font-style:italic;}



/*25-Пресс-центр*/

.press-center h3 {font-size:24px; text-transform:initial; font-family: 'Exo20-Regular';}
.press-center h3::before {display:none;}
.press-center ul {padding:0;}
.press-center ul li {margin-bottom:20px;}
.press-center ul li::before {display:none;}
.logo-download img {max-width:220px;}

/*26-Контакты*/

.contacts-page-head h3 {font-size:30px; font-family: 'Exo20-Light';}
.contacts-page-head p a {font-size:24px; font-family: 'Exo20-Bold';}
.contacts-page-head .width1-2, .contacts-page-head .width1-1 {margin-bottom:20px;}
.text.contacts-page h2 {font-family: 'Exo20-Bold'; font-size: 40px; text-transform: uppercase; position: relative; margin-bottom: 50px;}
.text.contacts-page h2::before {content: ''; display: block; width: 100%; height: 2px; background: #57585b; position: absolute; top: 51%; left: 0;}
.text.contacts-page h2 span {background: #f9f9f9; position: relative; z-index: 2; padding-right: 10px;}


/*27-Заявки*/

table.applications th, table.applications td {padding:10px; border-bottom:1px solid #cacaca; min-width: 150px; text-align:left;}

/*28-Заявка*/

.messenger {flex-direction:column; height:600px; margin-top:40px;}
.messenger_body {border:1px solid #d5d4d4; padding:20px; overflow-y:scroll; flex-basis:100%; flex-shrink:1;}
.messenger_body .message {margin-bottom:20px; border-bottom: 1px solid #cacaca; padding-bottom: 20px;}
.messenger_body .name {font-weight:500; font-size:13px; margin-right:5px;}
.messenger_body .time {font-size:13px;}
.messenger_body .message .message_text {font-size:15px; padding:4px 10px; position:relative; border-radius:4px;}
.messenger_body .message .message_text p {margin:0;}
.messenger_body .message .file, .messenger_body .message .btn {margin-top:10px;}
.messenger_body .extension {width:40px; height:40px; background:#87c000; color:white; text-align:center; padding-top:8px; font-size:18px; border-radius:50%; margin-right:10px;}
.messenger_body .name_size {line-height:20px;}
.messenger_body .name_size a {width:100%; display:block; font-weight:500;}
.messenger_body .name_size span {width:100%; display:block; color:#a2a2a2;}
.messenger_form {background:white; padding:20px; border:1px solid #cacaca; flex-basis:108px; flex-shrink:0;}
.messenger_form textarea {flex-basis:100%; flex-shrink:1; border:0; border-bottom:1px solid #cacaca;}
.messenger_form input[type="submit"] {flex-shrink:0; margin-left:10px; border:none; cursor:pointer; font-family: 'Exo20-Regular', sans-serif;} 
.message.agent .name, .message.agent .time {font-weight:bold;}


/*29-Профиль*/
.profile h2 {font-size:24px; margin-bottom:20px;}
.profile h2::before {display:none;}
.profile .half {width:49%; padding:10px;}
.profile .profile_input, .profile .pass_input {width:100%; position:relative; margin-bottom:40px;}
.profile label {font-size:15px; color:#a1a1a1; display:block; width:100%;}
.profile input[type="text"], .profile input[type="password"] {font-size:17px; font-weight:500; display:block; width:100%; border:0; border-bottom:1px solid #cacaca; width:100%; background: none; padding:0 10px; line-height: 30px;}
.profile .disabled input {color:#b1afaf;}
.profile input {color:#777777;}
.profile .green_btn {font-weight:500;}
.profile .edit {position:absolute; cursor:pointer; top:22px; right:10px; display:block; width:18px; height:18px;}
.profile .show {position:absolute; cursor:pointer; top:22px; right:10px; display:block; width:18px; height:18px;}
.profile .edit::before {content:''; display:block; background:url(../images/profile.png) no-repeat; background-position:0px 0px; height:100%; width:100%;}
.profile .show::before {content:''; display:block; background:url(../images/profile.png) no-repeat; background-position:0px -60px; height:100%; width:100%;}
.profile .disabled .edit::before {content:''; display:block; background:url(../images/profile.png) no-repeat; background-position:0px -20px; height:100%; width:100%;}
.profile .disabled .show::before {content:''; display:block; background:url(../images/profile.png) no-repeat; background-position:0px -40px; height:100%; width:100%;}
.profile .balance_widget {border:1px solid #87c000; padding:20px; color:#777777; text-align:center; margin-bottom:40px;}
.profile .balance_widget .fa-rub {color:#abaaaa; font-size:15px; margin-left:5px;}
.profile .password_widget {border:1px solid #cacaca; padding:20px;}
.profile input[type="submit"] {flex-shrink: 0; color:white; margin-left: 10px; border: none; cursor: pointer; font-family: 'Exo20-Regular', sans-serif;}

@media all and (max-width:1500px) {
	h2 {margin-bottom:20px;}
	.margin-top {margin-top: 40px !important;}
	.slider-dela .image {width:32%;}
	.slider-dela .text {width:67%;}
}

@media all and (max-width:1400px) {
	header {padding:0;}
	header .logo {width: 130px;}
	h1 {margin:20px 0;}
	.slide li {font-size: 18px; line-height: 24px; margin-bottom: 0px;}
	.slide ul {margin: 10px 0;}
	.slide {padding-top: 90px;}
	.slideshow .owl-next {right: 10px; top: 55%;}
	.slideshow .owl-prev {left: 10px; top: 55%;}
	header .top {font-size: 14px; padding: 5px 0;}
	header .bottom {padding: 5px 0 0px;}
	.specializations .line {height: auto; padding: 30px 0 30px;}
	.slider-dela .image {width:24%;}
	.slider-dela .text {width:74%;}
	.slider-dela .text .text {width:100%;}
	.content {margin: 120px auto 0;}
	.content h1 + p {margin-top: 0px;}
}

@media all and (max-width:1300px) {
	.owl-theme .owl-nav .owl-prev {position:initial; margin:0 10px !important; display:inline-block;}
	.owl-theme .owl-nav .owl-next {position:initial; margin:0 10px !important; display:inline-block;}
	.slide h1 {font-size: 36px; line-height: 40px;}
	.slideshow .owl-nav {display:none;}
	.slideshow .owl-dots {margin-top: -30px;}
	.welcome {-webkit-flex-wrap: wrap; -moz-flex-wrap: wrap; -ms-flex-wrap: wrap; -o-flex-wrap: wrap; flex-wrap: wrap;}
	.welcome .benefits.width1-2 {width: 100%;}
	.welcome .director.width1-2 {width: 100%; margin-top:40px;}
	.welcome .director img {width:32%;}
	.welcome .director .text {width:66%;}
	.benefits .item {padding:10px;}
	.contacts .left a {font-size: 48px;}
	footer .right a {font-size: 13px;}
	footer .right p {font-size: 14px;}
	.team.center .item {margin: 0 6px 50px;}
}

@media all and (max-width:1000px) {
	.btn {font-size: 14px; padding: 0 10px;}
	header .menu li a {font-size: 14px;}
	header .bottom .menu {width: 340px;}
	header .contacts-block a {margin-right: 10px; font-size: 15px;}
	header .logo {width: 110px;}
	.slide {background-position: right !important; padding-top: 80px;}
	.slide h1 {font-size: 24px; line-height: 26px;}
	.slide .action {max-width: 530px;}
	.line .container {-webkit-flex-wrap: wrap; -moz-flex-wrap: wrap; -ms-flex-wrap: wrap; -o-flex-wrap: wrap; flex-wrap: wrap;}	
	.line .container .item {width:49%; margin-bottom:20px;}
	.contacts .left a {font-size: 36px;}
	.contacts .items {-webkit-flex-wrap: wrap; -moz-flex-wrap: wrap; -ms-flex-wrap: wrap; -o-flex-wrap: wrap; flex-wrap: wrap;}
	.contacts .left {width:100%;}
	.contacts .right {min-width:500px; margin:0 auto;}
	.price-article-head .left {width:100%;}
	.price-article-head .right {flex-basis:100%; width:100%;}
	.price-article-head {-webkit-flex-wrap: wrap; -moz-flex-wrap: wrap; -ms-flex-wrap: wrap; -o-flex-wrap: wrap; flex-wrap: wrap;}
	.team.center .item {margin: 0 4px 50px;}
}

@media all and (max-width:740px) {
	header {display:none;}
	.mobpanel {position: fixed; top: 0; left: 0; z-index: 15; width: 100%; background: white; height: 70px; padding: 0 10px; box-shadow: 0 0px 25px 0px rgba(0, 0, 0, 0.1); display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-pack: justify; -webkit-justify-content: space-between; justify-content: space-between; align-items: center; align-content: center;}
	.mobpanel .logo img {width: 130px;}
	.mobpanel .phone a {margin: 0 15px;}
	.mobpanel .header_line {display: none;}
	.mobpanel .menu-btn {z-index: 100;}
	.mobpanel .menu-btn span {background: #57585b;}
	.mobpanel .menu-btn span {display: block; position: absolute; height: 3px; width: 100%; border-radius: 9px; opacity: 1; left: 0; -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); -webkit-transition: 0.25s ease-in-out; -moz-transition: 0.25s ease-in-out; -o-transition: 0.25s ease-in-out; transition: 0.25s ease-in-out;}
	.mobpanel .menu-btn {width: 30px; height: 24px; -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); -webkit-transition: 0.5s ease-in-out; -moz-transition: 0.5s ease-in-out; -o-transition: 0.5s ease-in-out; transition: 0.5s ease-in-out; cursor: pointer; z-index: 10;}
	.mobpanel .menu-btn span:nth-child(1) {top: 0px;}
	.mobpanel .menu-btn span:nth-child(2) {top: 10px;}
	.mobpanel .menu-btn span:nth-child(3) {top: 20px;}
	.mobpanel .menu-btn.open span:nth-child(1) {top: 10px; -webkit-transform: rotate(135deg); -moz-transform: rotate(135deg); -o-transform: rotate(135deg); transform: rotate(135deg);}
	.mobpanel .menu-btn.open span:nth-child(2) {opacity: 0; left: -60px;}
	.mobpanel .menu-btn.open span:nth-child(3) {top: 10px; -webkit-transform: rotate(-135deg); -moz-transform: rotate(-135deg); -o-transform: rotate(-135deg); transform: rotate(-135deg);}
	.slide {padding-top: 0px;}
	h1 {margin: 10px 0; font-size:24px;}
	.flex {-webkit-flex-wrap: wrap; -moz-flex-wrap: wrap; -ms-flex-wrap: wrap; -o-flex-wrap: wrap; flex-wrap: wrap;}
	.text.width1-2, .video.width1-2 {width:100%;}
	.width1-2.right .form-with-types .c-item {width: 19%; height: 60px;}
	.width1-2.right .form-with-types .c-item .c-item-text {display:none;}
	h2 {font-size:24px;}
	.width1-3, .width2-3 {width: 100%;}
	.we-help {padding-left: 0px;}
	.contacts-horizontal .width1-2 {width:100%;}
	.width1-3.photo {text-align:center;}
	.content {margin: 90px auto 0;}
	.text h2 {margin-bottom: 0px; font-size: 24px;}
	.hot-services .item .image {flex-basis: 100%; text-align:center;}
	.hot-article-head .video {margin-right:0;}
	.hot-article-head .right {flex-basis:100%; width:100%;}
	.two-columns aside {flex-basis: 100%; margin-bottom:20px;}
	.two-columns aside li {display: inline-block; width: auto; margin: 0 10px 10px 0;}
	.two-columns .articles .item .title {font-size: 24px; text-transform: initial;}
	.news-article-head .left {margin-bottom:20px;}
	.news-article .right .image img {width:100%;}
	.subscribe.in-article h2 {text-align: center; font-size: 24px; text-transform: initial; color: #57585b;}
	.subscribe.in-article {margin: 40px auto 0;}
	.title-with-btn {margin-bottom:20px;}
	.question h2 {font-size: 24px;}
	.team .item.width1-3 {width:49%;}
	.team .name a {font-size: 18px;}
	.contacts-page-head > .width1-2 {width:100%;}
	.messenger_form .flex {-webkit-flex-wrap: nowrap; -moz-flex-wrap: nowrap; -ms-flex-wrap: nowrap; -o-flex-wrap: nowrap; flex-wrap: nowrap;}
	.messenger_body {max-width: 100%;}
	.messenger {height:600px;}
	.messenger_body {flex-basis: 70%;}
	.messenger_form textarea {flex-basis: 80%;}
	.scrollable-table {max-width:100%; overflow:scroll;}
	footer li a {font-size: 16px;}
	.mod_body img.close_mod {right: 5px;}
}

@media all and (max-width:600px) {
	.form-with-types {max-width: 100%;}
	.form-with-types .c-item {width: 19%; height: 60px;}
	.form-with-types .c-item .c-item-text {display:none;}
	.contacts .right {min-width: 280px;}
	.slide h1 {font-size: 24px; line-height: 30px; max-width: 100%;}
	.slide ul {max-width: 100%;}
	.slide .action {-webkit-flex-wrap: wrap; -moz-flex-wrap: wrap; -ms-flex-wrap: wrap; -o-flex-wrap: wrap; flex-wrap: wrap;}
	.width1-2 {width: 100%;}
	.welcome .director img {width: 100%;}
	.welcome .director .text {width: 100%;}
	.welcome .director.width1-2 {-webkit-flex-wrap: wrap; -moz-flex-wrap: wrap; -ms-flex-wrap: wrap; -o-flex-wrap: wrap; flex-wrap: wrap;}
	.line .container .item {width: 100%; margin-bottom: 20px;}
	h2 {font-size: 30px;}
	.contacts {padding:0 10px;}
	.slider-dela .item {-webkit-flex-wrap: wrap; -moz-flex-wrap: wrap; -ms-flex-wrap: wrap; -o-flex-wrap: wrap; flex-wrap: wrap;}
	.slider-dela .image {width: 100%;}
	.slider-dela .text {width: 100%;}
	.dela .text .title {font-size: 24px; margin-top: 20px;}
	.width1-3 {width: 100%;}
	.form-with-types .form-title {text-align: center; font-size: 18px;}
	.inputs-btns {-webkit-flex-wrap: wrap; -moz-flex-wrap: wrap; -ms-flex-wrap: wrap; -o-flex-wrap: wrap; flex-wrap: wrap;}
	.input-wrap {margin-bottom:10px;}
	footer .container {-webkit-flex-wrap: wrap; -moz-flex-wrap: wrap; -ms-flex-wrap: wrap; -o-flex-wrap: wrap; flex-wrap: wrap;}
	footer .item {width:100%; border-bottom:1px solid #cacaca; padding-bottom:10px; margin-bottom:10px; text-align:center;}
	header {height: 100vh; padding-top: 90px; text-align:center; line-height:30px; overflow: scroll;}
	header .flex {-webkit-flex-wrap: wrap; -moz-flex-wrap: wrap; -ms-flex-wrap: wrap; -o-flex-wrap: wrap; flex-wrap: wrap;}
	header .menu li {width:100%; text-align:center;}
	header .left.adress {width:100%;}
	header .top .right .menu, header .bottom .menu {width:100%;}
	header .login {width:100%;}
	header .registration {width:100%;}
	header .bottom .logo {display:none;}
	header .contacts-block {margin-top:20px;}
	header .contacts-block, header .contacts-block a, header .contacts-block .btn {width:100%; margin-bottom:10px;}
	header, header .top, header .menu li a, header .bottom .menu a, header .contacts-block a {font-size: 21px; font-family: 'Exo20-Light'; line-height:30px;}
	header .top .right .menu {order:2; margin-top:20px;}
	header .top .right .login {order:0; margin-top:20px;}
	header .top .right .registration {order:1;}
	header .menu li {line-height:30px;}
	.slideshow, .slide {height: 100vh;}
	.slideshow .item {position:relative;}
	.slideshow .item::before {content:''; display:block; position:absolute; top:0; left:0; background:rgba(255,255,255,0.7); width:100%; height:100%;}
	.slideshow .item .container {position:relative; z-index:3;}
	.slideshow h1 {color: #57585b; text-shadow:none; font-size: 18px; line-height: 24px;}
	.slide li {padding:0;}
	.btn {font-size: 18px;}
	.width1-2 {width:100%;}
	footer p {padding:0 10px;}
	.price-block .image {flex-basis: 100%; margin-bottom:20px;}
	.price-block .price {flex-basis: 100%; margin-top:20px;}
	.price-block .top .title {font-size: 24px;}
	.contacts .left a {font-size: 24px;}
	footer .item {border-right:none;}
	.team .item.width1-3 {width:100%;}
	.profile .width1-2 {margin-top:20px;}
	.profile .width1-2 h2 {text-align:center;}	
	.team.center .item {margin: 0 0 50px;}
}

@media all and (max-width:350px) {
	header, header .top, header .menu li a, header .bottom .menu a, header .contacts-block a {font-size: 18px;}
	.mobpanel {height: 50px;}
	.mobpanel a {font-size:16px;}
	.mobpanel .logo img {width: 110px;}
	header {padding-top: 70px;}
}