@font-face {
	font-family: 'FreeSetWebBook';
	src: url('FRS55__W.eot');
	src: local('FreeSet Web Book'), local('FreeSetWebBook'),
	     url('FRS55__W.eot?#iefix') format('embedded-opentype'),
	     url('FRS55__W.woff') format('woff'),
	     url('FRS55__W.ttf') format('truetype'),
	     url('FRS55__W.svg#FreeSetWebBook') format('svg');
	font-weight: normal;
	font-style: normal;
}