@import url("./lib/jquery.jgrowl.css");

#ticket-preview-placeholder {
	background: #fff;
	border: 5px solid #AAA;
	padding: 5px;
	display: none;
	margin: 10px 0;
}

.form-actions .checkbox {display:inline-block;}

.ticket-comment {list-style-type: none;margin-top:20px;}
.ticket-avatar {display:inline-block;}
.ticket-comment-author {display:inline-block;font-weight:bold;margin-left: 10px;}
.ticket-comment-createdon {display:inline-block;font-size: 0.8em;color: #555555;margin-left: 10px;}
.ticket-comment-edited {display:inline-block;font-size: 0.8em;color: #555555;margin-left: 10px;font-style:italic;}
.ticket-comment-link {display:inline-block; margin-left: 15px;}

.ticket-comment-text {margin-top: 5px;}
.ticket-reply-link a {font-size: 0.8em; text-decoration: none; border-bottom-style: dashed; border-bottom-width: 1px;}

#comment-editor {width: 99%}

#comment-preview-placeholder {
	background: #fff;
	border: 5px solid #AAA;
	padding: 5px;
	display: none;
	margin: 10px 0;
	/*white-space: pre-wrap;*/
}

.form-actions .checkbox {display:inline-block;}

.tickets-message-success  {background-color: green !important;}
.tickets-message-error  {background-color: brown !important;}
.tickets-message-info  {background-color: black !important;}