@font-face {
    font-family: 'MyriadPro-Semibold';
    src: url('../fonts/MyriadPro-Semibold.eot?#iefix') format('embedded-opentype'),  url('../fonts/MyriadPro-Semibold.otf')  format('opentype'),
    url('../fonts/MyriadPro-Semibold.woff') format('woff'), url('../fonts/MyriadPro-Semibold.ttf')  format('truetype'), url('../fonts/MyriadPro-Semibold.svg#MyriadPro-Semibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/MyriadPro-Regular.otf')  format('opentype'),
    url('../fonts/MyriadPro-Regular.woff') format('woff'), url('../fonts/MyriadPro-Regular.ttf')  format('truetype'), url('../fonts/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MyriadPro-Bold';
    src: url('../fonts/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/MyriadPro-Bold.otf')  format('opentype'),
    url('../fonts/MyriadPro-Bold.woff') format('woff'), url('../fonts/MyriadPro-Bold.ttf')  format('truetype'), url('../fonts/MyriadPro-Bold.svg#MyriadPro-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
*, html, body {
    margin: 0;
    padding: 0;
}
a img {
    border: none;
}
.clr {
    clear: both;
}
body {
    min-width:1023px;
    font-family: "MyriadPro-Regular";
}
.wrapper {
    width:1026px;

    margin:0 auto;
}
header {
    height:104px;
    background: url('../images/header.jpg') no-repeat top center;
}
header .wrapper {
    position:relative;
}
#consult span.error {
	display:block;
}
.slogan {
    font-size: 17px;
    color:#777777;
    font-family: "MyriadPro-Semibold";
    line-height:27px;
    padding-top: 8px;
}

.links a {
    font-family: "MyriadPro-Regular";
    font-size: 16px;
    color:#fe5000;
    line-height:13px;
    position:relative;
    display:inline-block;
}
.animation {
    transition:0.3s;
}
.links a:hover {
    text-decoration: none;
}
.links a.logout:before {
    display:block;
    content:'';
    background: url('../images/logout.png') no-repeat 0px 0px;
    position:absolute;
    top:1px;
    left:-19px;
    width:13px;
    height:13px;
}
.links a.login:before {
    display:block;
    content:'';
    background: url('../images/lk.png') no-repeat 0px 0px;
    position:absolute;
    top:0px;
    left:-17px;
    width:12px;
    height:16px;
}
.links {
    float:left;
    margin-top:17px;
    padding-left: 17px;
    width:230px;
}
.links a.logout {
    margin-top: 7px;
}
.buttons {
    float:left;
    margin-top: 33px;
    
}
.buttons a {
    font-family: "MyriadPro-Semibold";
    text-decoration: none;
    text-transform: uppercase;
    display:inline-block;
    font-size: 13px;
}
.buttons a.skype {
    color:#1ea5fb;
    background: url('../images/skype.png') no-repeat top center;
    text-align: center;
    width:149px;
    height:28px;
    line-height:28px;
}
.buttons a.zvonok {
    color:#ff6900;
    position:relative;
    top:-1px;
    margin-left: 10px;
    width:133px;
    text-align: center;
    height:25px;
    line-height:25px;
    background: url('../images/zvonok.png') no-repeat top center;
}
.buttons a.skype span {
    position:relative;
    left:10px;
}
.header_contacts {
    float:right;
    margin-top: -19px;
    text-align: right;
}
.header_contacts .address {
    font-size: 15px;
    padding-left: 66px;
    color:#777777;
    line-height:13px;
    background: url('../images/metro.png') no-repeat left top;
}
.header_contacts .phone {
    font-size: 29px;
    color:#ff6900;
    font-family: "MyriadPro-Bold";
    line-height:1;
    margin-top: 1px;
}
.header_contacts .phone span {
    font-family: "MyriadPro-Regular";
}
.header_contacts button {
    border:none;
    outline:none;
    cursor:pointer;
    font-size: 12px;
    color:#ffffff;
    font-family: "MyriadPro-Semibold";
    width: 228px;
    height: 24px;
    background-color: #97d700;
    border: 3px solid #97d700;
    text-transform: uppercase;
    margin-top: 10px;
    border-radius:12px;
}
.header_contacts button:active {
    margin-top:11px;
}
.top_menu {
    height: 34px;
    background-color: #ff6900;
    text-align: center;
}
.top_menu a {
    display:inline-block;
    text-decoration: none;
    line-height:34px;
    font-size: 19px;
    color:#fff;
    padding:0px 35px;
}
.top_menu a:hover {
    background: #98d702;
}
.top_menu a:active,.top_menu a.active {
    background: #e74b04;
}
.block_2 {
    background: #87c000;
    min-height:436px;
    border-bottom:3px solid  #76a800;
}
.block_2 .wrapper {
    position:relative;
}
.block_2_img {
    position:absolute;
    top:0px;
    left:-195px;
}
.block_2 h1 {
    float:left;
    font-size: 29px;
    color:#ffffff;
    font-family: "MyriadPro-Semibold";
    font-weight:normal;
    margin-left: 163px;
    margin-top: 5px;
    position:relative;
    z-index:100;
}
.block_2 .form {
    float:right;
    width:479px;
    height:384px;
    background: url('../images/block_2_form.png') no-repeat top center;
    box-sizing: border-box;
    text-align: center;
    position:relative;
    margin-top: 6px;
    margin-right: 2px;
}

.block_2 .form h4 {
    font-weight:normal;
    font-size: 23px;
    color:#ff6900;
    font-family: "MyriadPro-Semibold";
    padding-top: 9px;
	margin-bottom:15px;
	
}
.block_2 .form input[type=text] {
    width: 180px;
    height: 30px;
    background-color: white;
    border: 2px solid #d2d1d1;
    border-radius:15px;
    outline:none;
    padding-left: 17px;
    font-size: 16px;
    color:#a3a0a0;
    font-family: "MyriadPro-Regular";
    margin-left: 8px;

}

.block_2 .form input[type=text]::-webkit-input-placeholder {
    color:#a3a0a0;
}
.block_2 .form input[type=text]:-moz-placeholder {
    color:#a3a0a0;
}
.block_2 form textarea {
    width: 379px;
    height: 137px;
    background-color: white;
    border: 2px solid #d2d1d1;
    border-radius: 15px;
    outline:none;
    font-size: 16px;
    color:#a3a0a0;
    font-family: "MyriadPro-Regular";
    padding:10px 17px;
    margin-top: 15px;
    resize: none;

}
.block_2 .form form {
    margin-top: 6px;
}
.block_2 form input[type=text]:first-child {
    margin-left: 0;
}
.block_2 input[type=submit] {
    width: 337px;
    height: 54px;
    border: 3px solid #fe5000;
    outline:none;
    cursor:pointer;
    font-size: 23px;
    color:#fe5000;
    font-family: "MyriadPro-Semibold";
    text-transform: uppercase;
    background: none;
    transition:0.3s;
    border-radius:30px;
    margin-top: 10px;
}
.block_2 input[type=submit]:hover {
    background: #fe5000;
    color:#fff;
}
.block_2 .form  p {
    font-size: 14px;
    color:#777777;
    margin-top: 6px;
}
.block_2 .form a {
    color:#87c000;
}
.block_2 .form a:hover {
    text-decoration: none;
}
.now {
    text-align: center;
    position:absolute;
    font-size: 20px;
    color:#fff;
    font-style:italic;
    line-height:21px;
    z-index:20;
    top:82px;
    left:298px;
}
.now:after {
    width:95px;
    height:21px;
    content:'';
    display:block;
    background: url('../images/str.png') no-repeat top center;
    position:absolute;
    left:120px;
    top:50px;
}
.block_3 {
    background-color: #f2f2f2;
    padding-bottom: 12px;
}
.block_3 .items .item {
    float:left;
    width:50%;
    margin-bottom: 15px;
}
.block_3 .items .item i {
    display:table-cell;
    vertical-align: middle;
    width:75px;
    float:left;
}
.block_3 .items .item p {
    display:table-cell;
    vertical-align: middle;
    font-size: 20px;
   height:52px;

    color:#777777;
    font-family: "MyriadPro-Semibold";
}
.block_3 h2 {
    text-align: center;
    font-size: 27px;
    color:#fe570b;
    font-family: "MyriadPro-Semibold";
    padding-top: 24px;
}
.block_3 .items {
    margin-top: 25px;
}
.block_4 {
    padding-bottom: 30px;
}
.block_4 h2 {
    text-align: center;
    font-size: 27px;
    color:#fe570b;
    font-family: "MyriadPro-Semibold";
    padding-top: 22px;
}
.block_4_left {
    float:left;
    margin-top: 24px;
    width:680px;
}
.block_4_left ul li {
    list-style:none;
    font-size: 18px;
    color:#777777;
    font-family: 'MyriadPro-Regular';
    line-height:21px;
    background: url('../images/block_4_li.png') no-repeat 0px 0px;
    padding-left: 45px;
    min-height:31px;
    padding-top: 6px;
    margin-bottom: 9px;
}
.block_4_right {
    float:right;
    width: 335px;
    position:relative;
    background-color: #f6f6f6;
    border-bottom:8px solid #d2d1d1;
    font-size: 18px;
    color:#777777;
    font-family: "MyriadPro-Regular";
    line-height:21px;
    margin-top: 22px;
}
.block_4_right:before {
    display:block;
    content:'';
    background: url('../images/separator.jpg') no-repeat top center;
    width:26px;
    height:26px;
    position:absolute;
    right: 0px;
    top:0px;
}
.block_4_content {
    padding:23px 18px;
}
.block_4 h3 {
    text-align: center;
    font-weight:normal;
    font-size: 27px;
    color:#777777;
    font-family: "MyriadPro-Semibold";
    margin-top: 17px;
}
.block_4 .phones {
    text-align: center;
    font-size: 42px;
    color:#87c000;
    font-family: "MyriadPro-Semibold";
    margin-top: 2px;
}
.block_4 .phones span {
    font-family: "MyriadPro-Regular";
}
.block_5 {
    background: #f2f2f2;
    padding-top: 24px;
    padding-bottom: 23px;
}
.block_5 h2 {
    text-align: center;
    font-weight:normal;
    font-size: 27px;
    color:#fe570b;
    font-family: "MyriadPro-Semibold";
}
.block_5 .items .item {
    float:left;
    width:25%;
    text-align: center;
}
.block_5 .items .item .count {
    width:117px;
    height:117px;
    display:table-cell;
    vertical-align: middle;
    text-align: center;
    margin:0 auto;
    background: url('../images/elipce.png') no-repeat top center;
    font-size: 42px;
    color:#87c000;
    font-family: "MyriadPro-Semibold";
    line-height:1;
    position:relative;
    left:58%;
}
.block_5 .items .item .count span {
    font-size: 17px;
    font-family: "MyriadPro-Bold";
}
.block_5 .items .item .count div {
    position:relative;
    top:-8px;
}
.block_5 .item p {
    color:#777777;
    font-size: 19px;
    font-family: "MyriadPro-Semibold";
    line-height: 26px;
    margin-top: 21px;
}
.block_5 .items {
    margin-top: 22px;
}
.block_6 h2 {
    text-align: center;
    font-size: 27px;
    color:#fe570b;
    font-family: "MyriadPro-Semibold";
    padding-top: 22px;
}
.reviews {
    width:846px;
    margin:0 auto;
    margin-top: 24px;
    position:relative;
}
.review {
    border-left:1px solid #d2d1d1;
    border-right:1px solid #d2d1d1;
    padding-bottom: 10px;
}
.review_text  {
    font-size: 16px;
    color:#777777;
    line-height:21px;
    margin:0 auto;
    font-family: MyriadPro-Regular;
    width:788px;
    padding-top: 4px;
}
.review .meta {
    float:right;
    margin-top: 24px;
    margin-right: 30px;
}
.review .meta .date {
    font-size: 14px;
    color:#a3a0a0;
    font-family: "MyriadPro-Regular";
}
.review .meta .name {
    font-size: 18px;
    color:#87c000;
    font-family: "MyriadPro-Regular";
    margin-left: 17px;
}
.owl-nav div {
    position:absolute;
    top:50%;
    margin-top:-27px;
    width:33px;
    height:54px;
    text-indent:-100000px;
    transition:0.3s;
}
.owl-nav div.owl-prev {
    background: url('../images/prev.png') no-repeat top center;
    left:-54px;
}
.owl-nav div.owl-prev:hover {
    background: url('../images/prev_hover.png') no-repeat top center;
}
.owl-nav div.owl-next {
    background: url('../images/next.png') no-repeat top center;
    right:-54px;
}
.owl-nav div.owl-next:hover {
    background: url('../images/next_hover.png') no-repeat top center;
}
.block_6 {
    padding-bottom: 53px;
}
.block_7 {
    height:234px;
    background: url('../images/action.png') no-repeat top center;
}
.block_7 h3 {
    font-weight:normal;
    font-size: 47px;
    color:#ffffff;
    font-family: "MyriadPro-Semibold";
    margin-left: 230px;
    padding-top: 16px;
}
.block_7 p {
    float:left;
    font-size: 27px;
    color:#fff;
    font-family: "MyriadPro-Semibold";
    text-align: center;
    line-height:36px;
    margin-left: 42px;
    margin-top: 3px;
}
.block_7_form {
    float:right;
    position:relative;
    width: 479px;
    background-color: white;
    text-align: center;
    margin-top: -44px;
    margin-right: 32px;
    padding-top: 26px;
}
.block_7_form:before {
    display:block;
    content:'';
    background: url('../images/separator.png') no-repeat top center;
    width:26px;
    height:26px;
    position:absolute;
    right: 0px;
    top:0px;
}

.block_7 input[type=text] {
    width: 180px;
    height: 30px;
    background-color: white;
    border: 2px solid #d2d1d1;
    border-radius:15px;
    outline:none;
    padding-left: 17px;
    font-size: 16px;
    color:#a3a0a0;
    font-family: "MyriadPro-Regular";
    margin-left: 8px;

}
.block_7 input[type=text]::-webkit-input-placeholder {
    color:#a3a0a0;
}
.block_7 input[type=text]:-moz-placeholder {
    color:#a3a0a0;
}
.block_7 form input[type=text]:first-child {
    margin-left: 0;
}
.block_7 input[type=submit] {
    width: 258px;
    height: 54px;
    border: 3px solid #fe5000;
    outline:none;
    cursor:pointer;
    font-size: 23px;
    color:#fe5000;
    font-family: "MyriadPro-Semibold";
    text-transform: uppercase;
    background: none;
    transition:0.3s;
    border-radius:30px;
    margin-top: 14px;
}
.block_7 input[type=submit]:hover {
    background: #fe5000;
    color:#fff;
}
.block_7 form  p {
    font-size: 14px;
    color:#777777;
    padding-bottom: 10px;
    margin-left: 0;
    float:none;
    font-family: "MyriadPro-Regular";
}
.block_7 form a {
    color:#87c000;
}
.block_7 form a:hover {
    text-decoration: none;
}
.block_7 .wrapper {
    position:relative;
}
.pos_fixed {
    position:absolute;
    font-size: 17px;
    color:#ffffff;
    font-style: italic;
    font-family: "MyriadPro-Regular";
    top:94px;
    left:368px;
}
.pos_fixed:after {
    position:absolute;
    display:block;
    content:'';
    left:56px;
    bottom:-45px;
    width:76px;
    height:40px;
    background: url('../images/str2.png') no-repeat top center;
}
.block_8 h2 {
    text-align: center;
    font-weight:normal;
    font-size: 27px;
    color:#fe570b;
    font-family: "MyriadPro-Semibold";
    padding-top: 23px;
}
.tabs {
    margin-top: 23px;
}
.tabs a {
    display:inline-block;
    width:49%;
    text-align: center;
    position:relative;
    font-size: 22px;
    color:#fe5000;
    line-height:64px;
}
.tabs a.active:after {
    display:block;
    content:'';
    background: url('../images/separator.jpg') no-repeat top center;
    width:26px;
    height:26px;
    position:absolute;
    right: 0px;
    top:0px;
}
.tabs a.active {
    background: #f6f6f6;
    color:#87c000;
    text-decoration: none;
}
.tabs a:hover {
    text-decoration: none;
}
.tabs_content {
    background: #f6f6f6;
    font-size: 16px;
    color:#777777;
    line-height: 21px;
    padding:15px 20px;
    display:none;
}
.tabs_left {
    float:left;
    width:480px;
}
.tabs_right {
    float:right;
    width:480px;
}
.tabs_content p {
    margin-top: 10px;
}
#tab1 {
    display:block;
}
.block_8 {
    padding-bottom: 30px;
}
.block_9 h2 {
    text-align: center;
    font-weight:normal;
    font-size: 27px;
    color:#fe570b;
    font-family: "MyriadPro-Semibold";
    padding-top: 22px;
}
.block_9_left,.block_9_right {
    float:left;
    width:50%;
    margin-top: 26px;
}
.block_9_left {
    border-right:1px solid #d2d1d1;
    width:49%;
}
.block_9 button {
    padding:0px 20px;
    font-size: 19px;
    color:#97d700;
    font-family: "MyriadPro-Semibold";
    text-transform: uppercase;
    background: none;
    border-radius:40px;
    cursor:Pointer;
    height: 36px;
    border: 3px solid #97d700;
}
.block_9_left_content {
    background: url('../images/phone.jpg') no-repeat left center !important;
    text-align: center;
    margin-left: 53px;
	padding-left:50px;
    width:374px;
}
.block_9_right_content {
    background: url('../images/viber.png') no-repeat left center !important;
    text-align: center;
    margin-left: 96px;
    width:454px;
	min-height:56px;
}
.block_9 a {
    display:inline-block;
}
.block_9 a:hover {
    text-decoration: none;
}
.block_9 a,.block_9 p {
    font-size: 18px;
    color:#a3a0a0;
    font-family: "MyriadPro-Bold";
    margin-top: 5px;
}
footer {
    background: #f2f2f2;
    margin-top: 34px;
}
footer nav {
    text-align: center;
    padding-top: 16px;
}
footer nav a {
    font-size: 18px;
    color:#5f5f5f;
    margin-left: 45px;
}
footer nav a:first-child {
    margin-left: 0;
}
footer nav a:hover {
    text-decoration: none;
    color:#aeaeae;
}
footer p {
    text-align: center;
    font-size: 14px;
    color:#a9a9a9;
    padding-bottom: 12px;
    margin-top: 30px;
}
.overlay {
    position:fixed;
    top:0px;
    left:0px;
    background: rgba(0,0,0,0.5);
    width:100%;
    height:100%;
    display:none;
    z-index:999;
}
.popup_form {
    position:fixed;
    z-index:1000;
    box-sizing: border-box;
    width: 589px;
    background-color: #f2f2f2;
    border: 4px solid #d2d1d1;
    top:20%;
    left:50%;
    margin-left: -294px;
    text-align: center;
    padding:15px;
    padding-bottom: 40px;
    padding-top: 30px;
    display:none;
}
.popup_form  p{
    color:#ff6900;
    font-size: 18px;
    font-family: "MyriadPro-Semibold";
    border-bottom: 1px solid #d2d1d1;
    padding-bottom: 15px;
}
.popup_form form {
    margin-top: 15px;
}
.popup_form label {
    text-align: left;
    display:inline-block;
    font-size: 14px;
    color:#777777;
}
.popup_form input[type=text] {
    width: 267px;
    height: 36px;
    background-color: white;
    border: 3px solid #d2d1d1;
    border-radius:30px;
    font-size: 14px;
    color:#777777;
    outline:none;
    padding:0px 15px;
    box-sizing: border-box;
}
.popup_form input[type=submit] {
    width: 237px;
    height: 54px;
    background-color: white;
    border: 3px solid #97d700;
    cursor:pointer;
    outline:none;
    border-radius:50px;
    font-size: 23px;
    text-transform: uppercase;
    color:#98d702;
    font-family: 'MyriadPro-Semibold';
    margin-left: 10px;
}
.popup_form span.closed {
    display: inline-block;
    width:18px;
    height:17px;
    background: url('../images/closed.png') no-repeat top center;
    position:absolute;
    right:5px;
    cursor:pointer;
    top:5px;
}
.error_skype {
    display:block;
    text-align: left;
    margin-left: 100px; 
}
/*    07/12/2015 */
#thanks {
    width:760px;
    margin-left: -380px;
    padding-left: 0;
    padding-bottom: 0;
    padding-right: 0;
}
#thanks p {
    font-size: 22px;
    width:90%;
    margin:0 auto;
}
#thanks h4 {
    font-weight:normal;
    font-size: 18px;
    margin-top: 20px;
    color:#777777;
    font-family: "MyriadPro-Regular";
}
.popup_icons {
    background: #fff;
    margin-top: 30px;
    padding-top: 30px;
}
.popup_icons h3 {
    font-weight:normal;
    font-size: 24px;
    color:#fe570b;
    font-family: "MyriadPro-Semibold";
    position:relative;
}
.popup_icons h3:after {
    display:block;
    background: #fe570b;
    content:'';
    width:73px;
    height:2px;
    position:absolute;
    right:30px;
    top:14px;
}
.popup_icons h3:before {
    display:block;
    background: #fe570b;
    content:'';
    width:73px;
    height:2px;
    position:absolute;
    left:30px;
    top:14px;
}
.popup_icons .icon {
    float:left;
    width:248px;
    margin-top: 20px;
    padding-bottom: 20px;
}
.popup_form .icon i {
    display:table-cell;
    width:248px;
    vertical-align:middle;
    height:80px;
}
.popup_form .icon p {
    border:none;
    font-size: 21px;
    color:#777777;
    font-family: "MyriadPro-Regular";
    line-height:1;
}
.links .lk_privet {
	
}
#popup_text {
	padding:15px;
}


.top_menu .wrapper {
	text-align:justify;
}
.top_menu .wrapper ul {

	text-align:center;
}
.top_menu ul li {
	display:inline-block;
	float:none !important;
}



@media (max-width:600px) { 

	body {
		min-width:inherit !important;
	}
	.block_2_img ,.now{
		display:none;
	}
	.block_2 h1 {
		float:none;
		width:100%;
		margin-left:0px;
	}
	.block_2 .form {
		width:100%;
	}
	.block_2 .form input[type=text],.block_2 .form textarea {
		width:80%;
		
		margin-top:0px;
		margin-bottom:10px;
	}
	.block_2 .form textarea {
		height:48px;
	}
	.block_3 .items .item:nth-child(2n+1)  {
		clear:both;
	}
	.block_4_left,.block_4_right {
		float:none;
		width:100%;
	}
	.reviews {
		width:80% !important;
	}
	.review_text {
		width:100%;
	}
	.pos_fixed,.block_8 {
		display:none;
	}
	.pos_fixed {
		width:100%;
		margin-left:0px;
		text-align:center;
	}
	.block_7 h3 {
		float:none;
		margin-left:0px;
		width:100%;
		text-align:center;
	}
	.block_7 p {
		float:none;
		width:100%;
		text-align:center;
		display:none;
	}
	.block_7_form {
		float:none;
		margin-top:0px;
		width:100%;
		margin-right:0px;
	}
	.block_7 {
		height:297px;
		background-size:cover;
	}
	.block_7 input[type=text] {
		width:80%;
		margin-top:10px;
	}
	.block_9 {
		display:none;
	}
	.block_3 .items .item p {
		font-size:14px;
	}
	.footer_center ul:nth-child(2n+1) {
		clear:both;
	}
	.footer {
		height:auto !important;
	}
}