.spec_page .left_column {
	float:none;
	width:100%;
}
.spec_page .zayav_left {
	display:inline-block;
	width:234px;
	vertical-align:top;
	padding-left:32px;
}
.spec_page .zayav_right {
	display:inline-block;
	vertical-align:top;
}
.spec_page .zayavka_online {
	text-align:left;
}
.spec_page .zayavka_online .zag {
	text-align:center;
}
.spec_page .zayavka_online textarea {
	margin-top:8px;
	width:696px;
	height:67px;
}
.spec_page .zayavka_online input[type=submit] {
	margin-left:78px;
}
.spec_page .zayavka_online p {
	margin-left:116px;
}
.keis_item p {
	text-align:center;
}
.spec_page .right_column {
	float:none;
	width:100%;
}
.spec_page .ur_oblasti {
	border:none;
	padding:0px;
}
.spec_page .ur_oblasti .zag {
	margin-left:30px;
}
.spec_page .ur_oblasti .colonka {
	display:inline-block;
	vertical-align:top;
	width:46%;
	padding-left:20px;
	border-left:1px solid #d2d1d1;
}
.spec_page .keis {
	margin-top:20px;
}
.all_keis {
	margin-top:20px;
}
.all_keis a {
	font-size:18px;
	color:#76a800;
}
.keys_preview {
	display:inline-block;
	width:202px;
	background:#f4f4f4;
	text-align:center;
	padding:15px 0px;
	position:relative;
}
.keys_preview img {
	width:150px;
}
.keys_preview a {
	display:none;
}
.keys_preview a:first-child {
	display:block;
}
.keys_preview:after {
	display:block;
	position:absolute;
	top:0px;
	right:0px;
	content:'';
	background:url('keys_ugol.png') no-repeat top center; 
	width:26px;
	height:26px;
	background-size:contain;
}
.keys_full_desc {
	display:inline-block;
	width:800px;
	vertical-align:top;
	margin-left:18px;
}
#pdopage {
	margin-top:20px;
}
.title_spec {
	font-size:14px;
	color:#b2b2b2;
}
.title_keis {
	font-size:18px;
	color:#5e8600;
	text-decoration:underline;
	cursor:pointer;
}
.title_keis:hover {
	text-decoration:none;
}
.keis_content {
	font-size:16px;
	color:#777777;
	line-height:21px;
}
.keys_page {
	margin-bottom:30px;
}
.actual_usluga .actual_title {
	font-size:19px;
	color:#777777;
	font-family:"MyriadPro-Semibold";
	margin-top:45px;
	margin-bottom:10px;
}
.actual_service ul li {
	display:inline-block;
	width:49%;
}
.actual_service ul li a {
	font-size:17px;
	color:#ff6900;
	font-weight:normal;
	font-family:"MyriadPro-Regular";
}




@media (max-width: 1050px) {
	.keys_full_desc {
		width:546px;
	}
	.keis_item {
		margin-bottom:15px;
	}
}
@media (max-width: 810px) {
	.keys_full_desc {
		width:100%;
	}
	.keys_preview {
		width:100%;
		text-align:center;
	}
	.keys_left {
		width:90%;
		margin-left:0px;
		text-align:center;
	}
}