@font-face {
  font-family: 'MyriadPro-Semibold';
  src: url('../fonts/MyriadPro-Semibold.eot?#iefix') format('embedded-opentype'),  url('../fonts/MyriadPro-Semibold.otf')  format('opentype'),
	     url('../fonts/MyriadPro-Semibold.woff') format('woff'), url('../fonts/MyriadPro-Semibold.ttf')  format('truetype'), url('../fonts/MyriadPro-Semibold.svg#MyriadPro-Semibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MyriadPro-Regular';
  src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/MyriadPro-Regular.otf')  format('opentype'),
	     url('../fonts/MyriadPro-Regular.woff') format('woff'), url('../fonts/MyriadPro-Regular.ttf')  format('truetype'), url('../fonts/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MyriadPro-Bold';
  src: url('../fonts/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/MyriadPro-Bold.otf')  format('opentype'),
	     url('../fonts/MyriadPro-Bold.woff') format('woff'), url('../fonts/MyriadPro-Bold.ttf')  format('truetype'), url('../fonts/MyriadPro-Bold.svg#MyriadPro-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

html, body {
    height: 100% !important;
    margin: 0;
    padding: 0;
}
.page-wrapper {
    min-height: 100%;
    margin-bottom: -234px;
}
* html .page-wrapper {
    height: 100%;
}
.page-buffer {
    height: 234px;
}
body {
    font-family: 'MyriadPro-Regular';
}
.buttons+.wrapper {
	margin-bottom:45px;
}
.wrapper {
    width:1023px;
    margin:0 auto;
}
.header {
    background:#f6f6f6 url('../images/header.png') no-repeat top center;
    padding-bottom: 8px;
}
.logo {
    float:left;
    margin-top: 10px;
}
.header_panel {
    float:left;
    margin-left: 25px;
    margin-top: 10px;
    width: 100%;
    max-width: 500px;
}
.header_panel h2,.header_panel .h2 {
    font-family: 'MyriadPro-Semibold';
    font-size:17px;
    color:#777777;
    margin-left: 2px;
}
.header_left {
    float:left;
    max-width: 200px;
    width: 100%;
    overflow: hidden;
}
.header_left ul li {
    margin-bottom: 3px;
	width:500px;
}
.header_left ul li  a {
    font-size:16px;
    color:#fe5000;
    padding-left: 18px;
}
.header_left .lk {
    background: url('../images/lk.png') no-repeat 2px 2px;
}
.header_left .logout {
    background: url('../images/logout.png') no-repeat 0px 4px;
    min-height: 13px;
}
.header_left ul li  a:hover {
    text-decoration: none;
}
.header_right {
    float:right;
}
.header_right a {
    display:inline-block;
    text-decoration: none;
}
.header_right .skype {
    font-size:13px;
    color:#1ea5fb;
    font-family: 'MyriadPro-Semibold';
    text-transform: uppercase;
    height:28px;
    width:149px;
    box-sizing: border-box;
    background:url('../images/skype.png') no-repeat top center;
    line-height: 27px;
    margin-right: 13px;
    position: relative;
    top: 2px;
    padding-left: 33px;
    float:left;
    margin-top: 34px;
}
.header_right .zvonok {
    font-size:13px;
    color:#ff6900;
    font-family: 'MyriadPro-Semibold';
    text-transform: uppercase;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(255, 105, 0);
    background-color: rgba(1, 54, 96, 0);
    width: 126px;
    height: 19px;
    text-align:center;
    margin-top: 37px;
    border-radius: 11px;
    line-height: 18px;
    float:right;
}
.header_left ul {
    margin-top: 20px;
}
.phone_panel {
    float:right;
    text-align:right;
    margin-top: 11px;
}
.phone_panel h3 {
    font-size:15px;
    color:#777777;
}
.ur_oblasti .colonka p {
    color:#fe570b;
}
.phone_panel p {
    font-size:25px;
    color:#9cc317;
    font-family: 'MyriadPro-Bold';
}
.phone_panel p span {
    font-family: 'MyriadPro-Regular';
}
.phone_panel  a {
    font-size:13px;
    color:#ffffff;
    text-decoration: none;
    display:inline-block;
    font-family: 'MyriadPro-Semibold';
    background:#97d700;
    text-transform: uppercase;
    margin-top: 8px;
    line-height: 24px;
    width: 196px;
    text-align: center;
    border-radius: 12px;
    letter-spacing: -0.1px;
}
.top_menu {
    background:#ff6900;
	height:auto;
}
.top_menu ul {
	display:table;
	width:100%;
}
.top_menu ul li {
    list-style: none;
    display:table-cell;
}

.top_menu ul li a {
    display:inline-block;
    font-size:19px;
    color:#ffffff;
    text-decoration: none;
    padding-top: 4px;
    padding-bottom: 7px;
    padding-left: 14px;
    padding-right: 14px;
    transition:0.3s;
}
.top_menu ul li a:hover {
    background:#98d702;
}
.top_menu ul li.active a {
	background:#e74b04;
}
.section_1 {
    background:#87c000;
    border-bottom: 3px solid #76a800;
    padding-bottom: 9px;
	height:300px;
}
.home_slider,.home_sliders {
    width:608px;
    float:left;
    /* box-sizing:border-box; */
    border:3px solid #76a800;
    margin-top: 11px;
    margin-left: 32px;
}
.slider .owl-nav div {
    position:absolute;
    text-indent: -10000px;
    top: 106px;
    width:27px;
    height:43px;
    transition:0.3s;
}
.slider .owl-nav div.owl-prev {
    background:url('../images/prev.png') no-repeat top left;
    left: -35px;
}
.slider .owl-nav div.owl-next {
    background:url('../images/next.png') no-repeat top right;
    right: -35px;
}
.slider .owl-nav div.owl-prev:hover {
    background:url('../images/prev_hover.png') no-repeat top left;
}
.slider .owl-nav div.owl-next:hover {
    background:url('../images/next_hover.png') no-repeat top right;
}
.home_form {
    float:right;
    width: 341px;
    text-align:center;
    margin-top: 14px;
}
.home_form input[type=text],.home_form textarea {
    font-size:14px;
    color:#a3a0a0;
    outline:none;
    font-family: 'MyriadPro-Regular';
}
.home_form textarea {
  border:2px solid rgb(210, 209, 209);
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  width: 332px;
  height: 121px;
  box-sizing: border-box;
  padding:10px;
  margin-top: 5px;
}
.home_form input[type=text] {
  border:2px solid rgb(210, 209, 209);
  width: 151px;
  height: 32px;
  margin-left: 3px;
  border-radius: 18px;
  margin-top: 6px;
  padding-left: 10px;
}
.home_form input[type=submit] {
    color:#fe5000;
    font-size:23px;
    text-transform: uppercase;
    font-family: 'MyriadPro-Semibold';
    border:3px solid #fe5000;
    background:#fff;
    width: 336px;
    height: 41px;
    cursor:pointer;
    margin-top: 4px;
    border-radius: 23px;
    transition:0.3s;
}
.home_form h4 {
    font-size:27px;
    color:#ffffff;
    font-family: 'MyriadPro-Semibold';
}
.home_form input[type=submit]:hover {
    color:#fff;
    background:#fe5000;
}
.home_form p {
    font-size:14px;
    color:#ffffff;
    text-align: left;
    margin-top: 4px;
    margin-left: 23px;
}
.home_form p a {
    color:#d8ff7c;
}
.home_form p a:hover {
    text-decoration: none;
}
.section_2 {
    background:#f2f2f2;
    padding-top: 13px;
    border-bottom:3px solid #d2d1d1;
    height: 115px;
}
.objects {
    margin:0 auto;
}
.objects .object {
    text-align:center;
}
.objects .object a {
    font-size:15px;
    color:#fe570b;
    font-family: 'MyriadPro-Semibold';
}
.objects .object a:hover {
    color:#97d700;
    text-decoration: none;
}
.objects .object a img {
    width:auto;
    display:inline-block;
}
.objects .object i {
    display:table-cell;
    width:127px;
    vertical-align: middle;
    height: 75px;
}
.objects .owl-nav div {
    position:absolute;
    text-indent: -10000px;
    top: 15px;
    width:27px;
    height:43px;
    transition:0.3s;
}
.objects .object a span {
    display:table-cell;
    vertical-align:bottom;
    height: 38px;
    position: relative;
    top: -18px;
    width:127px;
    line-height:1;
}
.objects .owl-nav div.owl-prev {
    background:url('../images/object_prev.png') no-repeat top left;
    left: 0px;
}
.objects .owl-nav div.owl-next {
    background:url('../images/object_next.png') no-repeat top right;
    right: 0px;
}
.objects .owl-nav div.owl-prev:hover {
    background:url('../images/object_prev_hover.png') no-repeat top left;
}
.objects .owl-nav div.owl-next:hover {
    background:url('../images/object_next_hover.png') no-repeat top right;
}
.section_3 h3 {
    text-align:center;
    font-size:27px;
    color:#ff6900;
    font-family: 'MyriadPro-Semibold';
    padding-top: 33px;
}
.section_3 .items .item {
    float:left;
    width:25%;
    text-align:center;
    margin-top: 22px;
}
.section_3 .items .item img {
    height:52px;
}
.section_3 .items p {
    font-size:22px;
    color:#777777;
    line-height: 1.1;
    margin-top: 8px;
}
.section_4 {
    background:#f2f2f2;
    margin-top: 39px;
    padding-bottom: 20px;
}
.section_4 h3 {
    text-align:center;
    font-size:27px;
    color:#ff6900;
    font-family: 'MyriadPro-Semibold';
    padding-top: 33px;
}
.service_list {
    float:left;
    margin-top: 31px;
}
.service_list .item {
    background-repeat:no-repeat;
    width:361px;
    height:94px;
    background:url('../images/servicelist.png') no-repeat top center;
    position:relative;
    margin-bottom: 20px;
    cursor:pointer;
    transition:0.1s;
    transform: scale(1);
}
.service_list .item i {
    display:table-cell;
    width: 158px;
    text-align: center;
    vertical-align: middle;
    height: 95px;
}
.service_list .item p {
    display:table-cell;
    font-size:21px;
    color:#777777;
    font-family: 'MyriadPro-Semibold';
    line-height:1.1;
    width: 205px;
    height: 94px;
    vertical-align: middle;
}
.service_list .item:hover {
    transform: scale(1.03);
}
.service_list .item.active {
    background:#87c000;
}
.service_list .item.active p {
    color:#fff;
}
.service_content {
    float: right;
    border:3px solid #87c000;
    margin-top: 31px;
    width: 656px;
    min-height:316px;
    background: #fff;
}
.service_items .title {
    float:left;
	max-width:350px;
}
.service_items .service_right {
    float:right;
    margin-top: 6px;
}
.service_right button,.service_right a {
    background:none;
    color:#97d700;
    text-transform: uppercase;
    font-size:23px;
    font-family: 'MyriadPro-Semibold';
    cursor:pointer;
    border:2px solid #97d700;
    width: 214px;
    height: 43px;
    border-radius: 20px;
    margin-bottom: 19px;
    transition:0.2s;
	display:inline-block;
	text-decoration:none;
	
	text-align:center;
}
.service_right a {line-height:43px;
	
}
.service_right button:hover,.service_right a:hover {
    background:#97d700;
    color:#fff;
}
.service_items .title p{
    color:#777777;
    font-size:19px;
    margin-bottom: 8px;
}
.service_items .title a {
    font-size:16px;
    color:#76a800;
}
.service_items .title a:hover {
    text-decoration: none;
}
.service_items {border-bottom: 1px solid #d2d1d1;margin-bottom: 5px;padding-top: 12px;padding-left: 20px;margin-left: 31px;margin-right: 31px;}
.service_block .service_items:last-child {
    border:none;
}
.reviews h3 {
    font-weight:normal;
    text-align:center;
    font-size:27px;
    color:#ff6900;
    font-family: 'MyriadPro-Semibold';
    padding-top: 33px;
}
.review_text {
    font-size:16px;
    color:#777777;
    line-height: 1.4;
}
.review p {
    text-align: right;
    margin-top: 22px;
}
.review .date {
    font-size:14px;
    color:#a3a0a0;
}
.review .review_name {
    font-size:18px;
    color:#87c000;
    margin-right: 4px;
    margin-left: 15px;
}
.review {
    border-left:1px solid #d2d1d1;
    border-right:1px solid #d2d1d1;
    margin: 0 auto;
    width: 844px;
    box-sizing: border-box;
    padding: 6px 25px;
    padding-bottom: 14px;
}
.reviews-content {
    margin-top: 20px;
}
.reviews .wrapper {
    width:844px;
}
.reviews-content .owl-nav div,.home_partners .owl-nav div {
    width:33px;
    height:54px;
    text-indent:-10000px;
    position:absolute;
    top: 38px;
    transition:0.2s;
}
.home_partners .owl-nav div {
	top:68px;
}
.reviews-content .owl-nav div.owl-prev {
    background:url('../images/review_prev.png') no-repeat top center;
    left: -53px;
}
.reviews-content .owl-nav div.owl-next {
    background:url('../images/review_next.png') no-repeat top center;
    right: -52px;
}
.reviews-content .owl-nav div.owl-prev:hover {
    background:url('../images/review_prev_hover.png') no-repeat top center;
}
.reviews-content .owl-nav div.owl-next:hover {
    background:url('../images/review_next_hover.png') no-repeat top center;
}


.home_partners .owl-nav div.owl-prev {
    background:url('../images/review_prev.png') no-repeat top center;
    left: -53px;
}
.home_partners .owl-nav div.owl-next {
    background:url('../images/review_next.png') no-repeat top center;
    right: -52px;
}
.home_partners .owl-nav div.owl-prev:hover {
    background:url('../images/review_prev_hover.png') no-repeat top center;
}
.home_partners .owl-nav div.owl-next:hover {
    background:url('../images/review_next_hover.png') no-repeat top center;
}
.home_partners {
	padding-top:20px;
}
.home_partner {
	display:table-cell;
	height:150px;
	vertical-align:middle;
}
.home_partner img {
	max-width:80%;
	width:auto;
	margin:0 auto;
}


.section_5 {
    background:#f6f6f6;
    margin-top: 19px;
    padding-top: 32px;
    padding-bottom: 36px;
}
.section_5 h3 {
    font-weight:normal;
    text-align:center;
     font-size:27px;
    color:#ff6900;
    font-family: 'MyriadPro-Semibold';
}
.counters .counter {
    display:inline-block;
    text-align:center;
    vertical-align: top;
    width: 219px;
    margin-top: 13px;
}
.counters .counter div {
    width:103px;
    height:103px;
    margin:0 auto;
    background:#fff;
    border-radius:50%;
    text-align:center;
    line-height:103px;
    font-size:44px;
    color:#87c000;
    font-family: 'MyriadPro-Semibold';
}
.counters .counter div .small {
    font-size:16px;
    color:#87c000;
    line-height:1;
    padding-top: 19px;
    display: inline-block;
	margin-bottom:0px;
	display:block;
}
.counters .counter div .big {
    font-size:36px;
    line-height:1;
}
.counters .counter div.line_height {
    line-height: 5px;
}
.counters .counter p {
    font-size:19px;
    color:#777777;
    font-family: 'MyriadPro-Semibold';
    margin-top: 18px;
}
.counters {
    padding-left:67px;
}
.section_6 h3 {
    text-align:center;
    font-size:27px;
    color:#ff6900;
    font-weight:normal;
    font-family: "MyriadPro-Semibold";
    padding-top: 25px;
}
.section_6 h4 {
    text-align:center;
    font-size:45px;
    color:#87c000;
    font-family:"MyriadPro-Semibold";
    margin-top: 19px;
}
.section_6 button {
    display:block;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(254, 80, 0);
    background-color: rgb(255, 255, 255);
    width: 336px;
    height: 40px;
    font-size:23px;
    color:rgb(254, 80, 0);
    font-family:"MyriadPro-Semibold";
    cursor:pointer;
    transition:0.2s;
    margin:0 auto;
    margin-top: 9px;
    text-transform: uppercase;
    border-radius: 20px;
}
.section_6 button:hover {
    color:#fff;
    background:rgb(254, 80, 0);
}
.section_7 {
    background:#f6f6f6;
    margin-top: 41px;
    padding-top: 32px;
    padding-bottom: 23px;
}
.section_7 h3 {
    font-weight:normal;
    text-align:center;
    color:#ff6900;
    font-size:27px;
    font-family:"MyriadPro-Semibold";
}
.section_7 .items .item {
    display:inline-block;
    text-align:center;
    vertical-align: top;
    border-left:1px solid #c0c0c0;
    width: 336px;
    margin-top: 25px;
}
.section_7 .items .item:first-child {
    border:none;
}
.section_7 .items .item i {
    display:table-cell;
    vertical-align: middle;
    text-align:center;
    width: 336px;
}
.section_7 .items .item span {
    font-size:21px;
    color:#777777;
    font-family:"MyriadPro-Semibold";
    text-transform: uppercase;
    display:inline-block;
    margin-top: 19px;
    margin-bottom: 20px;
}
.section_7 .items .item p {
    font-size:16px;
    color:#b8b8b8;
    line-height:1.2;
	padding:0px 15px;
}
.seo_text h1 {
    font-weight:normal;
    font-family:"MyriadPro-Semibold";
    font-size:21px;
    color:#87c000;

}
.seo_text p {
    font-size:16px;
    color:#777777;
    line-height: 21px;
    margin-top: 10px;
}
.seo_text {
    padding-top:16px;
}
.buttons {
    background:#a9a9a9;
    margin-top: 35px;
    padding-top: 5px;
    padding-bottom: 5px;
	position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
}
.buttons button {
    cursor:pointer;
    transition:0.2s;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(255, 255, 255);
    background-color: rgba(1, 54, 96, 0);
    height: 33px;
    font-size:15px;
    color:#ffffff;
    text-transform: uppercase;
    font-family:"MyriadPro-Semibold";
    padding-left: 19px;
    padding-right: 19px;
    border-radius: 20px;
    margin-right: 25px;
}
.buttons button:hover {
    background:#fff;
    color:#a9a9a9;
}
.buttons button.sk {
    background: url('../images/bottom_skype.png') no-repeat left top;
    border:none;
    width:226px;
    height: 37px;
    box-sizing:border-box;
    padding-left: 44px;
}
.buttons button.sk:hover {
    background:url('../images/bottom_skype.png') no-repeat top center;
    color:#fff;
}
.buttons .ad_r_but {
    float:right;
    margin-right: 2px;
}
.footer {
    background:#eeeeee;
	height:auto;
}
.footer_left {
    float:left;
    border-right:1px solid #bdbdbd;
    margin-top: 24px;
    width: 178px;
}
.footer_left ul li {
    list-style: none;
    margin-bottom: 13px;
}
.footer_left ul li a {
    font-size:18px;
    color:#5f5f5f;
}
.footer a:hover {
    text-decoration: none;
}
.footer_left ul li:last-child {
    margin-bottom:0px;
}
.footer_center {
    float:left;
    margin-top: 27px;
    margin-left: 29px;
}
.footer_center ul {
    float:left;
    width: 130px;
    margin-right: 11px;
}
.footer_center ul li {
    list-style:none;
    margin-bottom: 16px;
}
.footer_center ul li a {
    font-size:15px;
    color:#5f5f5f;
}
.footer_right {
    float:right;
    text-align:right;
    margin-top: 17px;
}
.footer_phone {
    font-size:25px;
    color:#a9a9a9;
}
.footer_phone span {
    font-family: 'MyriadPro-Bold';
}
.footer_address {
    font-size:15px;
    color:#a9a9a9;
    margin-top: 10px;
    margin-bottom: 36px;
}
.footer_soc a {
    margin-left: 1px;
}
.copy {
    text-align:center;
    font-size:14px;
    color:#a9a9a9;
    margin-top: 19px;
    padding-bottom: 15px;
}
.copy b {
    text-align:center;
    font-size:14px;
    color:#5f5f5f;
    margin-top: 19px;
    padding-bottom: 15px;
}
.uslugi_list .zag {
	background:#fff;
	text-align:center;
	padding-top:24px;
	padding-bottom:16px;
}
.uslugi_list .zag h1 {
font-size:27px;
	color:#ff6900;
	font-family: 'MyriadPro-Semibold';
}
.zayavka_vopros .wrap {
	background:#f2f2f2;
	position:relative;
}
.zayavka_vopros .zag,.zayavka_vopros .success_mail {
	text-align:center;
	font-size:21px;
	color:#777777;
	font-family: 'MyriadPro-Semibold';
	padding-top:11px;
}
.zayavka_vopros .wrap:after {
	display:block;
	width:26px;
	height:26px;
	content:'';
	background:url('../images/sep.jpg') no-repeat top center;
	right:0px;
	top:0px;
	position:absolute;
}
.zayavka_vopros {
	margin-top:20px;
}
.zayavka_vopros .zayav_left {
	float:left;
	margin-left:31px;
	margin-top:3px;
}
.zayavka_vopros .zayav_right {
	float:right;

	margin-right:31px;
	margin-top:12px;
}
.zayavka_vopros .zayav_left input {
  border:2px solid rgb(210, 209, 209);
  background-color: rgb(255, 255, 255);
  font-size:16px;
  color:#a3a0a0;
  width: 180px;
  height: 30px;
  border-radius:17px;
 padding-left:10px;
 letter-spacing:-0.8px;
 font-family: 'MyriadPro-Regular';
 padding-right:10px;
}
.zayavka_vopros .zayav_left .label {
	margin-bottom:5px;
}
.zayavka_vopros .zayav_right textarea {
	font-family: 'MyriadPro-Regular';
	font-size:16px;
	color:#a3a0a0;
	border:2px solid rgb(210, 209, 209);
	background-color: rgb(255, 255, 255);
	padding:7px;
	width:711px;
	height:70px;
	resize:none;
	border-radius:16px;
}
.zayavka_vopros .zayav_right input[type=submit] {
	transition:0.3s;
	background-color: rgb(255, 255, 255);
	border:3px solid rgb(254, 80, 0);
	width: 336px;
	height: 41px;
	font-size:23px;
	color:#fe5000;
	cursor:pointer;
	text-transform:uppercase;
	font-family: 'MyriadPro-Semibold';
	margin-top:16px;
	margin-left:79px;
	border-radius:21px;
}
.zayavka_vopros .zayav_right input[type=submit]:hover {
	background:#fe5000;
	color:#fff;
}
.zayav_right p {
	font-size:14px;
	color:#777777;
	padding-left:130px;
	margin-top:2px;
	margin-bottom:26px;
}
.zayav_right p a {
	color:#87c000;
}
.zayav_right p a:hover {
	text-decoration:none;
}
.zayavka_vopros .error {
	display:block;
}
.heading_title {
	text-align:center;
	padding-top:19px !important;
	max-width:1024px;
	margin:0 auto;
}
.heading_title h1 {
	font-size:27px;
	color:#ff6900;
	font-family:"MyriadPro-Semibold";
}
.content_inside,.content {
	margin-top:20px !important;
	color:#777777;
}
.left_column {
	float:left;
	background:#fff;
	width:530px;
	margin-top:12px;
}
.left_column .content {
	font-size:16px;
	color:#777777;
	font-family:"MyriadPro-Regular";
}
.left_column .content p,.content p {
	margin-bottom:14px;
	text-indent:0px;
}
.left_column .content ol{
	counter-reset: myCounter;
}
.left_column .content ol li {
	position:relative;
	text-indent:16px;
	margin-bottom:21px;
	margin-top:10px;
}
.left_column .content ol li:before {
  counter-increment: myCounter;
  content:counter(myCounter);
  font-size:16px;
  color:#87c000;
  font-family:"MyriadPro-Semibold";
  position:absolute;
  left:-15px;
}
.left_column .content ul li,.service_item_full .price_content ul li ,.price_short ul li, .text_on ul li{
	position:relative;
	padding-left:10px;
	margin-top:7px;
	list-style:none !important;
	
}
.left_column .content ul li:after,.service_item_full .price_content ul li:after,.price_short ul li:after, .text_on ul li:after {
	position:absolute;
	left:0px;
	top:9px;
	width:4px;
	height:4px;
	background:#fe5000;
	content:'';
	display:block;
	
}
.title_green {
	font-size:18px;
	color:#87c000;
	font-family:"MyriadPro-Semibold";
	margin-bottom:23px;
}
.right_column {
	float:right;
	width:479px;
	margin-top:16px;
}
.zayavka_online {
	width:100%;
	position:relative;
	background:#f2f2f2;
	text-align:center;
	padding-bottom:1px;
}
.zayavka_online:after {
	position:absolute;
	right:0px;
	top:0px;
	display:block;
	content:'';
	background:url('../images/sep.jpg') no-repeat top center;
	width:26px;
	height:26px;
}
.zayavka_online .zag {
	font-size:21px;
	color:#83a900;
	font-family:"MyriadPro-Semibold";
	line-height:1.1;
	padding-top:16px;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:6px;
	margin-bottom:0px;
}
.zayavka_online .label {
	display:inline-block;
}
.zayavka_online input {
  border:2px solid rgb(210, 209, 209);
  background-color: rgb(255, 255, 255);
  font-size:16px;
  color:#a3a0a0;
  width: 180px;
  height: 30px;
  border-radius:17px;
 padding-left:10px;
 letter-spacing:-0.8px;
 font-family: 'MyriadPro-Regular';
 padding-right:10px;
}
.zayavka_online input:focus {
	border:2px solid rgb(210, 209, 209);
}
.zayavka_online textarea {
	font-family: 'MyriadPro-Regular';
	font-size:16px;
	color:#a3a0a0;
	border:2px solid rgb(210, 209, 209);
	background-color: rgb(255, 255, 255);
	padding:7px;
	width:400px;
	height:143px;
	resize:none;
	border-radius:16px;
	margin-top:12px;
}
.zayavka_online input[type=submit] {
	transition:0.3s;
	background-color: rgb(255, 255, 255);
	border:3px solid rgb(254, 80, 0);
	width: 336px;
	height: 41px;
	font-size:23px;
	color:#fe5000;
	cursor:pointer;
	text-transform:uppercase;
	font-family: 'MyriadPro-Semibold';
	margin-top:13px;

	border-radius:21px;
}
.zayavka_online input[type=submit]:hover {
	background:#fe5000;
	color:#fff;
}
.zayavka_online p {
	font-size:14px;
	color:#777777;
	padding-left:0px;
	margin-top:2px;
	margin-bottom:26px;
}
.zayavka_online p a {
	color:#87c000;
}
.zayavka_online p a:hover {
	text-decoration:none;
}
.zayavka_online .zayav_left input  {
	margin-right:5px;
}
.zayavka_online .errors {
	display:block;
}
.inp.error {
	border-color:brown;
}
.block_9 .h2 {
    text-align: center;
    font-weight:normal;
    font-size: 27px;
    color:#fe570b;
    font-family: "MyriadPro-Semibold";
    padding-top: 5px;
}
.block_9_left,.block_9_right {
    float:left;
    width:50%;
    margin-top: 24px;
}
.block_9_left {
    border-right:1px solid #d2d1d1;
    width:49%;
}
.block_9 button {
    padding:0px 25px;
    font-size: 19px;
    color:#97d700;
    font-family: "MyriadPro-Semibold";
    text-transform: uppercase;
    background: none;
    border-radius:40px;
    cursor:Pointer;
    height: 36px;
    border: 3px solid #97d700;
}
.block_9_left_content {
    background: url('../images/mail.jpg') no-repeat left center;
    text-align: center;
    margin-left: 53px;
    width:374px;
}
.block_9_right_content {
    background: url('../images/phone.jpg') no-repeat left center;
    text-align: center;
    margin-left: 96px;
    width:454px;
}
.block_9 a {
    display:inline-block;
}
.block_9 a:hover {
    text-decoration: none;
}
.block_9 a,.block_9 p {
    font-size: 18px;
    color:#a3a0a0;
    font-family: "MyriadPro-Bold";
    margin-top: 5px;
}
.buttons_like {
	text-align:center;
	margin-top:15px;
}
.heading_inside {
	padding-top:7px;
}
.inside_content {
	padding-top:20px;
}
.inside_content p {
	font-size:16px;
	color:#777777;
	margin-bottom:14px; 
}
.inside_content h2 {
	font-size:21px;
	color:#9cc317;
	font-family:"MyriadPro-Semibold";
	margin-top:10px;
	margin-bottom:15px;
}
.inside_content ul {
	margin-left:20px;
	margin-bottom:14px;
}
.inside_content ul li {
	list-style:initial;
	font-size:16px;
	color:#777777;
	margin-bottom:10px;
}
.action_banner {
	text-align:center;
}
.price_list .price_item {
	text-align:left;
	background:#f6f6f6;
	position:relative;
	margin-bottom:19px;
}
.price_list .price_item:after {
	content:'';
	width:26px;
	height:26px;
	position:absolute;
	background:url('../images/sep.jpg') no-repeat top center;
	right:0px;
	top:0px;
}
.price_icons {
	display:table-cell;
	text-align:center;
	vertical-align:middle;
	height:114px;
	width:168px;
	cursor:pointer;
}
.price_right {
	display:table-cell;
	padding-bottom:10px;
	cursor:pointer;
	padding-top:14px;
}
.price_right h4 {
	font-size:21px;
	color:#777777;
	font-family:"MyriadPro-Semibold";
}
.price_right .price_short_desc {
	margin-top:16px;
	line-height:1.2;
	width:600px;
}
.price_right .price_short_desc p{
	display:inline;
	font-size:16px;
	color:#777777;
	font-family:"MyriadPro-Regular";
}
.price_right .price_short_desc a {
	font-size:16px;
	color:#76a800;
	margin-left:5px;
}
.price_right .price_short_desc a:hover {
	text-decoration:none;
}
.price_item .price_rr {
	display:table-cell;
	font-size:16px;
	color:#ff6900;
	width:250px;
}
.price_rr p {
	padding-left:12px;
	margin-top:12px;
	position:absolute;
	right:32px;
}
.price_item .price_rr span {
	font-size:21px;
	color:#ff6900;
	font-family:"MyriadPro-Semibold";
	margin-left:7px;
}
.price_item .price_rr del {
	font-size:16px;
	color:#777777;
	font-family:"MyriadPro-Semibold";
	margin-left:8px;
}
.price_item .price_rr button {
	cursor:pointer;
	outline:none;
	font-size:23px;
	color:#97d700;
	background:#fff;
	font-family:"MyriadPro-Semibold";
	border:3px solid rgb(151, 215, 0);
    width: 212px;
	height: 43px;
	transition:0.3s;
	text-transform:uppercase;
	margin-top:55px;
	margin-left:11px;
	border-radius:18px;
	position:absolute;
}
.price_item .price_rr button:hover {
	background:rgb(151, 215, 0);
	color:#fff;
}
.viber {
	/*margin-top:20px !important;*/
	background:url('../images/viber.png') no-repeat 16px center !important;
	/*border-left:0px !important;*/
	/*float:none !important;margin:20px auto 0px !important;*/
}
.svyzaytsa .el.email {
	margin-top:20px !important;
	border-left:0px !important;
}
.press_cont {
	margin-top:18px;
	line-height:1;
}
.press_cont a {
	
	font-size:22px;
	color:#fe570b;
}
.price_list {
	margin-top:16px;
}
.article_head .nazvan {
	font-size:16px;
	color:#b2b2b2;
	font-family:"MyriadPro-Semibold";
	margin-top:5px;
}
.article_head .zadat_vop,.zadat_vop {
	background:#f2f2f2;
	margin-top:8px;
	padding-top:16px;
	text-align:left;
	padding-bottom:15px;
}
.article_head .zadat_vop a {
	font-size:23px;
	color:#fe5000;
	text-transform:uppercase;
	text-decoration:none;
	background:#fff;
	display:inline-block;
	transition:0.3s;
	border:3px solid rgb(254, 80, 0);
	width: 332px;
	border-radius:20px;
	text-align:center;
	height: 35px;
	font-family:"MyriadPro-Semibold";
}
.article_head .zadat_vop span {
	font-size:21px;
	color:#777777;
	font-family:"MyriadPro-Semibold";
	margin-left:15px;
}
.article_head .zadat_vop a:hover {
	background:rgb(254, 80, 0);
	color:#fff;
}
.article_head {
	padding-top:7px;
}
.column_title {
	font-size:21px;
	color:#9cc317;
	font-family:"MyriadPro-Semibold";
	margin-bottom:7px;
}
.column_meta p {
	font-size:18px;
	color:#ff6900;
	font-family:"MyriadPro-Semibold";
}
.column_meta span {
	font-size:16px;
	color:#a3a0a0;
}
.column_meta h3 {
	font-size:18px;
	color:#87c000;
	font-family:"MyriadPro-Semibold";
	margin-top:19px;
}
.third_column {
	margin-top:-30px;
	border-bottom:1px solid #d2d1d1;
	padding-bottom:21px;
}
.column_1 {
	float:left;
	position:relative;
	width:410px;
}
.column_1:after,.column_2:after {
	height:156px;
	width:1px;
	position:absolute;
	right:0px;
	top:34px;
	content:'';
	background:#e8e8e8;
}
.column_2 {
	float:left;
	position:relative;
	width:250px;
	padding-left:31px;
}
.pres_soc a {
	display:inline-block;
	line-height:36px;
	text-decoration:none;
}
.pres_soc a img,.pres_soc a span {
	float:left;
}
.pres_soc a span {
	font-size:16px;
	color:#a3a0a0;
	margin-left:7px;
}
.pres_soc {
	padding-top:2px;
}
.column_3 {
	float:left;
	padding-left:31px;
}
.column_3 img {
	margin-top:6px;
	width:235px;
}
.column_3 a.with_icon {
	display:inline-block;
	line-height:38px;
	background:url('../images/ai.png') no-repeat 0px 0px;
	position:relative;
	font-size:16px;
	color:#fe570b;
	margin-top:33px;
	padding-left:40px;
}
.section_new {
	display:none;
}
.column_3 a.with_icon:after {
	position:absolute;
	content:'';
	width:9px;
	height:5px;
	display:inline-block;
	right:-15px;
	top:18px;
	background:url('../images/str.png') no-repeat top center;
}
.bottom_news {
	float:left;
	width:50%;
	margin-top:25px;
}
.bottom_news h3 {
	font-size:27px;
	color:#97d700;
	font-family:"MyriadPro-Semibold";
	margin-bottom:14px;
}
.bottom_news .date {
	font-size:14px;
	color:#b2b2b2;
}
.bottom_news .el {
	margin-bottom:19px;
}
.bottom_news .el a {
	font-size:18px;
	color:#5e8600;
	line-height:1;
}
.all_news {
	padding-top:10px;
}
.all_news a {
	font-size:16px;
	color:#fe570b;
	position:relative;
	padding-right:11px;
}
.all_news a:after {
	position:absolute;
	content:'';
	display:block;
	width:6px;
	height:10px;
	background:url('../images/str2.png') no-repeat right center;
	right:0px;
	top:6px;
}
.smi_news {
	float:right;
	width:384px;
}
.your {
	display:inline-block;
	position:relative;
	width:472px;
	height:107px;
	background:#f6f6f6;
	margin-bottom:16px;
}
.your:after {
	content:'';
	display:block;
	width:26px;
	height:26px;
	background:url('../images/sep.jpg') no-repeat top center;
	position:absolute;
	right:0px;
	top:0px;
}
.your .photo {
	display:table-cell;
	width:133px;
	vertical-align:top;
	padding-top:8px;
	padding-left:10px;
}
.your .photo img {
	width:133px;
}
.your_har {
	display:table-cell;
	vertical-align:top;
	padding-left:21px;
	padding-top:14px;
	
}
.your_har span {
	display:block;
	font-size:16px;
	color:#a3a0a0;
	margin-top:5px;
}
.your_har a {
	font-size:21px;
	color:#76a800;
	font-family:"MyriadPro-Semibold";
}
.uristi .wrap .your:nth-child(odd) {
	margin-right:76px;
}
.uristi {
	margin-top:14px;
	margin-bottom:-17px;
}
.your_left {
	width:478px;
	float:left;
	margin-right:20px;
}
.your_right {
	float:right;
	width:520px;
}
.loginForm {
	float:left;
	width:339px;
	padding-bottom:20px;
	background:#f2f2f2;
	position:relative;
	text-align:center;
	margin-top:16px;
	padding-top:24px;
	box-sizing:border-box;
}
.loginForm:after {
	display:block;
	content:'';
	width:26px;
	height:26px;
	background:url('../images/sep.jpg') no-repeat top center;
	position:absolute;
	right:0px;
	top:0px;
}
.form_title {
	font-size:16px;
	color:#777777;
	margin-bottom:6px;
}

.loginForm input[type=text],.loginForm input[type=password],.loginForm input[type=email],.payment_left input[type=text] {
	outline:none;
	font-size:16px;
	color:#a3a0a0;
	border:2px solid rgb(210, 209, 209);
	background-color: rgb(255, 255, 255);
	width: 294px;
	height: 34px;
	box-sizing:border-box;
	border-radius:15px;
	padding:0px 15px;
	margin-bottom:2px;
}
.loginForm input[type=email] {
	margin-bottom:12px;
}
.loginForm input[type=submit],.payment_left input[type=submit] {
	transition:0.3s;
	cursor:pointer;
	font-size:23px;
	color:#fe5000;
	text-transform:uppercase;
	font-family:"MyriadPro-Semibold";
	border:3px solid rgb(254, 80, 0);
	background-color: rgb(255, 255, 255);
	width: 158px;
	height: 41px;
	margin-top:16px;
	border-radius:20px;
}
.loginForm input[type=submit]:hover,.payment_left input[type=submit]:hover {
	color:#fff;
	background:rgb(254, 80, 0);
}
.reg_link {
	font-size:14px;
	color:#87c000;
	float:left;
	margin-top:5px;
	margin-left:26px;
}
.forgot_password {
	float:right;
	font-size:14px;
	color:#ff6900;
	margin-top:5px;
	margin-right:24px;
}
.login_right{
	float:right;
	width:654px;
	margin-top:12px;
}
.login_right .first_title {
	font-size:18px;
	color:#777777;
	font-family:"MyriadPro-Semibold";
	line-height:1.2;
}
.login_right  .second_title {
	font-size:21px;
	color:#9cc317;
	font-family:"MyriadPro-Semibold";
	margin-top:18px;
}
.login_right .item {
	display:inline-block;
	vertical-align:top;
	text-align:center;
	margin-top:12px;
	width:165px;
	margin-left:57px;
}
.login_right .item.item1 {
	margin-left:0px;
}
.login_right .item span {
	display:block;
	text-align:center;
	font-size:16px;
	color:#777777;
	line-height:1.3;
	margin-top:2px;
}
.lk .register .error {
	font-size:12px;
	line-height:1;
}
.lk .register  input[type=text], .lk .register  input[type=password] {
	margin-bottom:12px;
}
.lk .register  input[type=submit] {
	width:294px;
}
.lk .dop {
	text-align:center;
	font-size:14px;
	color:#787878;
	margin-top:5px;
}
.lk .dop a {
	color:#87c000;
	
}
.lk .dop a:hover {
	text-decoration:none;
}
.subsribe_text {
	float:left;
	font-size:18px;
	color:#777777;
	line-height:1.25;
}
.subscribe_form {
	float:right;
	width:480px;
	margin-top:-9px;
}
.article_head .zadat_vop .subscribe_form p,.zadat_vop .subscribe_form  p {
	font-size:14px;
	color:#a3a0a0;
	margin-top:5px;
	margin-bottom:-9px;
}
.article_head .zadat_vop .subscribe_form a,.zadat_vop .subscribe_form a {
	display:inline;
	border:none;
	background:none;
	font-size:14px;
	color:#5e8600;
	text-transform:none;
	text-decoration:underline;
	font-family:"MyriadPro-Regular";
}
.article_head .zadat_vop .subscribe_form a:hover,.zadat_vop .subscribe_form a:hover {
	text-decoration:none;
}
.article_head .zadat_vop .subscribe_form input[type=text],.zadat_vop .subscribe_form input[type=text] {
	border:2px solid rgb(210, 209, 209);
	font-size:16px;
	color:#a3a0a0;
	background-color: rgb(255, 255, 255);
	width: 235px;
	height: 30px;
	padding-left:15px;
	border-radius:15px;
}
.article_head .zadat_vop .subscribe_form input[type=submit],.zadat_vop .subscribe_form input[type=submit] {
	font-size:23px;
	color:#97d700;
	font-family:"MyriadPro-Semibold";
	text-transform:uppercase;
	transition:0.3s;
	border:3px solid rgb(151, 215, 0);
	background-color: rgb(255, 255, 255);
	width: 212px;
	height: 43px;
	cursor:pointer;
	margin-left:10px;
	position:relative;
	top:4px;
	border-radius:20px;
}
.article_head .zadat_vop .subscribe_form input[type=submit]:hover,.zadat_vop .subscribe_form input[type=submit]:hover {
	background:rgb(151, 215, 0);
	color:#fff;
}
.article_head .zadat_vop.subscribe {
	margin-top:18px;
	margin-bottom:-20px;
}
.subscribe_form .error {
	display:block;
}
.article_head .zadat_vop span.error,.subscribe_form span.error {
	margin-left:0px;
	font-size:12px;
	font-family:"MyriadPro-Regular";
	color:brown;
}
.full_news .subscribe_form {
	margin-top:0px;
}
.articles .left_col {
	float:right;
	width:279px;
	margin-top:16px;
}
.articles .stat_list {
	float:left;
	margin-top:9px;
	width:716px;
}
.articles .spis_staty {
	border-top:0px;
	border-bottom:0px;
	margin-bottom:-35px;
	margin-top:0px;
}
.sub_form {
	text-align:center;
	background:#f2f2f2;
	position:relative;
	padding-top:13px;
	padding-bottom:18px;
}
.sub_form:after {
	display:block;
	width:26px;
	height:26px;
	background:url('../images/sep.jpg') no-repeat top center;
	position:absolute;
	top:0px;
	right:0px;
	content:'';
}
.sub_form .subscribe_form {
	float:none;
	width:auto;
	
}
.sub_form .subscribe_form input[type=text] {
	border:2px solid rgb(210, 209, 209);
	font-size:16px;
	color:#a3a0a0;
	padding-left:15px;
  background-color: rgb(255, 255, 255);
	margin-top:16px;
  width: 221px;
  height: 31px;
	border-radius:16px;
}
.sub_form .subscribe_form input[type=submit] {
	cursor:pointer;
	transition:0.3s;
	text-transform:uppercase;
	font-size:23px;
	color:#97d700;
	font-family:"MyriadPro-Semibold";
	border:3px solid rgb(151, 215, 0);
	margin-top:10px;
  background-color: rgb(255, 255, 255);
	border-radius:20px;
  width: 212px;
  height: 43px;

}
.sub_form .subscribe_form input[type=submit]:hover {
	background:rgb(151, 215, 0);
	color:#fff;
}
.sub_form  p {
	font-size:14px;
	color:#777777;
	margin-top:8px;
	line-height:1.2;
}
.sub_form p a {
	color:#5e8600;
}
.sub_form p a:hover {
	text-decoration:none;
}
.category_menu {
	border-left:1px solid #d2d1d1;
	margin-top:21px;
	margin-left:1px;
	padding-top:13px;
	padding-left:18px;
}
.category_menu ul li {
	margin-bottom:5px;
}
.category_menu ul li a {
	font-size:17px;
	color:#ff6900;
}
.sub_form .subsribe_text {
	font-size:16px;
	color:#777777;
	font-family:"MyriadPro-Regular";
	line-height:1.2;
}
.meta span {
	font-size:14px;
	color:#b2b2b2;
	margin-left:8px;
	position:relative;
	top:-13px;
}
.full_meta {
	margin-bottom:10px;
}
.price_short {
	font-size:16px;
	color:#777777;
	line-height:1.3;
	margin-top:12px;
}
.pries_block {
	text-align:center;
	font-size:16px;
	background:#f2f2f2;
	color:#ff6900;
	margin-top:15px;
	line-height:33px;
}
.pries_block p span {
	font-size:21px;
	color:#ff6900;
	font-family:"MyriadPro-Semibold";
	margin-left:5px;
}
.pries_block p del {
	font-size:16px;
	color:#777777;
	font-family:"MyriadPro-Semibold";
	margin-left:5px;
}
.price_lefts {
	float:left;
	margin-top:20px;
	width:479px;
}
.price_lefts .zayavka_online .zag {
	width:auto;
	color:#ff6900;
	margin-bottom:3px;
}
.price_rights {
	float:right;
	width:525px;
	margin-top:27px;
}
.price_rights .price_right_title {
	font-size:21px;
	color:#9cc317;
	font-family:"MyriadPro-Semibold";
	padding-left:45px;
	margin-bottom:26px;
}
.price_rights ul li {
	background:url('../images/li.png') no-repeat 0px 0px;
	font-size:18px;
	color:#777777;
	font-family:"MyriadPro-Semibold";
	padding-left:45px;
	min-height:31px;
	line-height:1.2;
	padding-top:4px;
	margin-bottom:14px;
}
.price_rights p {
	font-size:16px;
	color:#777777;
	text-indent:10px;
	margin-top:23px;
}
.price_content h2 {
	font-size:21px;
	color:#9cc317;
	font-family:"MyriadPro-Semibold";
	margin-top:12px;
}
.price_content p {
	font-size:16px;
	color:#777777;
	margin-bottom:15px;
}
.count,.cont {
	font-size:18px;
	color:#777777;
	font-family:"MyriadPro-Semibold";
	margin-top:20px;
}
.count .gr,.cont .gr {
	font-size:25px;
	color:#9cd90b;
	font-family:"MyriadPro-Semibold";
}
.cont p {
	font-size:16px;
	color:#777777;
	font-family:"MyriadPro-Regular";
	margin-top:10px;
}
.inside_content ol {
	list-style:inherit;
	font-size:16px;
	margin-bottom:20px;
}
.inside_content ol li {
	list-style-type:decimal;
	margin-bottom:14px;
	margin-left:20px;
}
.cont a {
	font-size:16px;
	color:#76a800;
}
.cont ul li  span {
	font-size:18px;
	font-family:"MyriadPro-Regular";
}
.cont ul {
	margin-left:20px;
}
.cont ul li {
	margin-top:15px;
}
.cont ul li p {
	font-size:16px;
	color:#a3a0a0;
	font-family:"MyriadPro-Regular";
}
.skype_cons input[type=text] {
	font-size:16px;
	color:#a3a0a0;
	border:2px solid rgb(210, 209, 209);
  background-color: rgb(255, 255, 255);
	padding-left:15px;
  width: 236px;
  height: 30px;
  border-radius:15px;
}
.skype_cons input[type=submit] {
	font-size:23px;
	color:#97d700;
	text-transform:uppercase;
	font-family:"MyriadPro-Semibold";
	border:3px solid rgb(151, 215, 0);
	background-color: rgb(255, 255, 255);
	width: 182px;
	height: 43px;	
	cursor:pointer;
	margin-left:8px;
	position:relative;
	top:2px;
	transition:0.3s;
	border-radius:20px;
}
.skype_cons input[type=submit]:hover {
	background:rgb(151, 215, 0);
	color:#fff;
}
.skype_cons {
	margin-top:16px;
	margin-left:34px;
	
}
.give_skype {
	font-size:18px;
	color:#87c000;
	font-family:"MyriadPro-Semibold";
	margin-top:10px;
	margin-left:33px;
}
.action_section {
	background:none;
	border:none;
}
.action_section .home_slider,.action_section .home_sliders {
	border-color:#d2d1d1;
}
.action_section .sub_form .subsribe_text {
	float:none;
}
.action_section .sub_form p {
	text-align:center;
	margin-left:0px;
}
.action_section .sub_form {
	padding-top:29px;
	padding-bottom:33px;
}
.action_section .sub_form .subscribe_form input[type=text] {
	margin-top:29px;
}
.action_section .sub_form .subscribe_form input[type=submit] {
	margin-top:19px;
}
.stat_material .el.new_action .podrob {
	text-align:left;
}
.content_text {
	font-size:16px;
	color:#777777;
	font-family:"MyriadPro-Regular";
	margin-top:15px;
	margin-bottom:25px;
}
.result_tpl {
	font-size:16px;
	display:none;
	color:#777777;
	font-family:"MyriadPro-Regular";
	margin-top:15px;
	margin-bottom:25px;
}
.result_content h3 {
	font-weight:normal;
	font-family:"MyriadPro-Semibold";
	font-size:21px;
	color:#9cc317;
}
.test-item .test-title {
	font-size:21px;
	color:#9cc317;
	font-family:"MyriadPro-Semibold";
	padding-left:30px;
	margin-bottom:15px;
}
.test-item label {
	display:block;
	margin-bottom:15px;
}
.test-item label span {
	font-size:18px;
	color:#777777;
	font-family:"MyriadPro-Semibold";
	position:relative;
	cursor:pointer;
	padding-left:30px;
}
.test-item label input {
	display:none;
}
.test-item label input:checked+span:after {
	position:absolute;
	width:23px;
	height:23px;
	background:url('../images/r_checked.png') no-repeat top center;
	left:0px;
	top:0px;
	content:'';
}
.test-item label span:after {
	position:absolute;
	width:23px;
	height:23px;
	background:url('../images/r_non_checked.png') no-repeat top center;
	left:0px;
	top:0px;
	content:'';
}
.itog-test {
	font-size:14px;
	color:#a3a0a0;
	font-family:"MyriadPro-Regular";
}
#next_step {
	transition:0.3s;
	font-size:23px;
	color:#97d700;
	font-family:"MyriadPro-Semibold";
	text-transform:uppercase;
  border-style: solid;
  border-width: 3px;
  border-color: rgb(151, 215, 0);
  background-color: rgb(255, 255, 255);
	cursor:pointer;
	border-radius:20px;
  width: 292px;
  height: 43px;
	margin-top:20px;
}
#next_step:hover {
	color:#fff;
	background:#97d700;
}
.test-item {
	display:none;
}
.service_block {
	display:none;
}
.service_content .service_block:first-child {
	display:block;
}
.home_sliders img {
	max-width:608px;
}
.content_inside h2 {
	font-size:21px;
	color:#ff6900;
}
.content_inside,.lk {
	font-size:16px;
	color:#777777;
}
.home_slider {
	opacity:0;
}
.spis_staty .meta img {
	max-width:110px;
	max-height:30px;
}
.payment_type div {
	
	font-size:18px;
	margin-bottom:20px;
	color:#777777;
	cursor:pointer;
	margin-right:10px;
}
.payment_1 {
	display:block;
	float:left;
	width:167px;
}
.payment_2 {
	display:block;
	float:left;
	width:167px;
}
.payment_3 {
	float:left;
		width:167px;
}
.payment_4 {
	display:block;
	float:left;
	width:167px;
}
.payment_5 {
	display:block;
	float:left;
	width:167px;
}
.payment_type {
	
}
.payment_type i {
	display:table-cell;
	height:40px;
	vertical-align:middle;
}
.payment_type span {
	display:table-cell;
	vertical-align:middle;
	line-height:1.2;
	padding-left: 5px;
	height:40px;
}
.payment_left {
	float:left;
}
.payment_left h3 {
	font-size:27px;
	color:#ff6900;
	font-family: 'MyriadPro-Semibold';
}
.payment_left  p {
	font-size:16px !important;
}
.payment_left2  p {
	font-size:14px !important;
		float:left;
}
.payment_left2  h4 {
	font-size:16px !important;
	font-weight: bold;
	margin-bottom:10px;
}
.payment_left2 {
	float:left;
}
.payment_right {
	float:right;
	width:650px;
}
.payment_right h4 {
	margin-bottom:15px;
	font-size:27px;
	color:#97d700;
	font-family: 'MyriadPro-Semibold';
}
.payment_left h4 {
	margin-bottom:15px;
	font-size:27px;
	color:#97d700;
	font-family: 'MyriadPro-Semibold';
}
input[value=unsubscribe]+button {
	display:none;
}

.block_smi_home  {
	padding-top:30px;
	padding-bottom:30px;
}
.block_smi_home .home_smi_item {
	display:inline-block;
	vertical-align:top;
	width:202px;
	text-align:center;
}
.block_smi_home h3 {
	font-weight:normal;
    text-align:center;
     font-size:27px;
    color:#ff6900;
    font-family: 'MyriadPro-Semibold';
}
.home_smi_img {
	display:table-cell;
	vertical-align:middle;
	height:100px;
	width:202px;
	margin-bottom:10px;
}
.home_smi_img img {
	max-width:100px;
	max-height:100px;
}
.home_smi_title {
	font-size:16px;
	color:#777;
	text-decoration:none;
	line-height:1;
}
.price_short h2 {
	margin-bottom:10px;
	font-size:24px;
	font-family: 'MyriadPro-Semibold';
}
.price_short p,.text_on p {
	margin-bottom:10px;
}
.price_short ul ,.text_on ul{
	margin-left:20px;
}
.price_short ul li,.text_on ul li {
	list-style:circle;
	margin-bottom:8px;
}
.price_short strong,.text_on strong {
	font-family: 'MyriadPro-Semibold';
	font-weight:normal;
}
.price_content {
	margin-top:20px;
}
.service_item_full .price_content ul li {
	list-style:circle;
	margin-left:20px;
	margin-bottom:8px;
}
.keis {
	background:#f2f2f2;
	text-align:center;
	padding-bottom:40px;
}
.keis_item {
	display:inline-block;
	vertical-align:top;
	width:249px;
	height:337px;
	background:#fff;
	margin-left:5px;
	position:relative;
}
.keis_item:after {
	display:block;
	position:absolute;
	top:0px;
	right:0px;
	content:'';
	background:url('../images/keys_ugol.png') no-repeat top center;
	width:26px;
	height:26px;
}
.keys_popup {
	display:none;
}
.keis h3 {
	padding-top:30px;
	padding-bottom:20px;
	font-size:27px;
	color:#ff6900;
	font-family: 'MyriadPro-Semibold';
}
.keis h3+.keis_item {
	margin-left:0px;
}
.keis_item .img {
	margin-top:13px;
}
.keis_item p {
	font-size:16px;
	color:#a3a0a0;
	text-align:left;
	padding:0px 10px;
	margin-top:15px;
}
.keys_popup {
	max-width:881px;
	background:#f2f2f2;
	border:4px solid #d2d1d1;
}
.keys_title {
	font-size:22px;
	color:#ff6900;
	text-align:center;
	max-width:813px;
	margin:0 auto;
	padding-top:29px;
	padding-bottom:20px;
	border-bottom:1px solid #d2d1d1;
	margin-bottom:10px;
}
.keys_left {
	display:inline-block;
	vertical-align:top;
	margin-left:30px;
	width:395px;
	padding-bottom:30px;
}
.keys_left img {
	width:100%;
}
.keys_left  a {
	display:none;
}
.keys_left a:first-child {
	display:block;
}
.keys_right {
	display:inline-block;
	vertical-align:top;
	max-width:380px;
	margin-left:20px;
	padding-right:20px;
	font-size:16px;
	color:#777777;
	line-height:21px;
}
.table-border  td{
	border:3px solid #000;
	vertical-align:top;
	padding:10px;
}
.table-border  tr:first-child td {
	padding:0px;
}
.table-border  td p {
	margin-top:5px;
	margin-bottom:0px;
}






@media (max-width:1050px) {
	.wrap,.content_stat {
		width:800px;
	}
	.urist {
		margin-top:20px;
	}
	.urist #carousel_us {
		width:100%;
	}
	#carousel_us .sliderkit-nav {
		width:100%;
	}
	.wrapper,.uslugi_list .wrap {
		width:800px;
	}
	.header_right .skype {
		margin-top:22px;
	}
	.header_right {
		width:149px;
		text-align:center;
	}
	.header_right .zvonok {
		margin-top:6px;
		float:none;
	}
	.header_right {
		float:left;
	}
	.phone_panel {
		margin-top:-69px;
	}
	.top_menu ul li a {
		font-size:16px;
		padding-left:18px;
		padding-right:17px;
	}
	.home_slider, .home_sliders {
		width:380px;
		margin-top:40px;
	}
	.slider .owl-nav div {
		top:67px;
	}
	.home_form textarea {
		height:55px;
	}
	.buttons button {
		font-size:12px;
	}
	.service_list .item p {
		font-size:15px;
	}
	.service_list .item {
		width:280px;
	}
	.service_content {
		width:514px;
	}
	.service_right button, .service_right a {
		font-size:13px;
		width:140px;
		height:35px;
		line-height:35px;
	}
	.service_items .title {
		max-width:280px;
	}
	.reviews .wrapper {
		width:700px;
	}
	.review {
		width:100%;
	}
	.counters .counter {
		width:198px;
	}
	.counters .counter p {
		font-size:15px;
	}
	.counters {
		padding-left:0px;
	}
	.section_7 .items .item {
		width:264px;
	}
	.section_7 .items .item span {
		font-size:15px;
	}
	.footer_right {
		float:none;
		text-align:center;
		clear:both;
	}
	body {
		min-width:100%;
	}
	.price_right .price_short_desc {
		width:430px;
	}
	.price_rights {
		width:100%;
		float:none;
		clear:both;
		padding-top:30px;
	}
	.left_column,.right_column {
		float:none;
		width:90%;
		margin-left:auto;
		margin-right:auto;
	}
	.block_9_left,.block_9_right {
		width:60%;
		float:none;
		border:none;
		margin-left:auto;
		margin-right:auto;
	}
	.block_9_right_content {
		margin-left:0px;
	}
	.subsribe_text {
		float:none;
		text-align:center;
		width:100%;
	}
	.subscribe_form {
		float:none;
		text-align:center;
		width:100%;
		margin-top:20px;
	}
	.action_banner img {
		max-width:100%;
	}
	.block_smi_home .home_smi_item {
		width:156px;
		
	}
	.home_smi_img {
		width:156px;
	}
	
}
@media (max-width:810px) {
	.wrapper,.wrap,.uslugi_list .wrap,.content_stat  {
		width:600px;
	}
	.block_9_left,.block_9_right {
		text-align:center;
		display:none;
	}
	.logo {
		float:none;
		display:block;
		margin-left:auto;
		margin-right:auto;
		width:209px;
		margin-top:0px;
		padding-top:10px;
	}
	.top_menu ul li a {
		font-size:14px;
		padding-left:8px;
		padding-right:10px;
	}
	.header_panel .h2 {
		text-align:center;
	}
	.home_slider, .home_sliders {
		width:80%;
		margin:0 auto;
		float:none;
	}
	.section_1 {
		padding-top:40px;
		height:auto;
		padding-bottom:40px;
	}
	.home_form {
		float:none;
		margin:0 auto;
		margin-top:20px;
	}
	.section_3 .items p {
		font-size:16px;
	}
	.section_4 {
		display:none;
	}
	.reviews .wrapper {
		width:80%;
	}
	.counters .counter {
		width:148px;
	}
	.section_7 .items .item {
		width:298px;
	}
	.section_7 .items .item:last-child {
		border:none;
		width:100%;
	}
	.section_7 .items .item.item:last-child i {
		display:block;
		width:100%;
	}
	.footer_left {
		border:none;
		float:none;
		width:100%;
		margin-top:0px;
		padding-top:24px;
	}
	.footer_left li {
		float:left;
		margin-right:15px;
	}
	.footer_center ul {
		width:179px;
	}
	.buttons{
		display:none;
	}
	.buttons+.wrapper {
		margin-bottom:0px;
	}
	.price_right .price_short_desc {
		width:280px;
	}
	.price_item .price_rr button {
		width:160px;
	}
	.price_right h4 {
		font-size:18px;
	}
	.price_right .price_short_desc p {
		font-size:13px;
	}
	.zayavka_vopros .zayav_left {
		float:none;
		text-align:center;
		margin-left:0px;
	}
	.zayavka_vopros .zayav_right {
		float:none;
		text-align:center;
		margin-right:0px;
	}
	.zayavka_vopros .zayav_left input,.zayavka_vopros .zayav_right textarea {
		width:90%;
	}
	.block_smi_home {
		text-align:center;
	}
	
}
.mobile_show {
	display:none;
}
@media (max-width:600px) { 
.mobile_show {
	display:block;
}
.mobile_hide {
	display:none;
}
.reviews {
	height:300px;
	overflow:hidden;
}
.stat_head .zadat_vop .otziv ,.zadat_vop,.stat_head .zadat_vop span{
	float:none;
	text-align:center;
}
.header_panel .h2,.phone_panel h3,.header_left {
	display:none;
}
.header_panel {
	float:none;
}
.phone_panel {
	float:none;
	text-align:center;
	margin-top:11px;
}
.stat_head .zadat_vop span {
	display:block;
}
.section_new {
	display:block;
}
.section_5,.section_7,.seo_text {
	display:none;
}
	.wrapper,.wrap,.uslugi_list .wrap,.content_stat  {
		width:80%;
		min-width:360px;
	}
	.reviews .wrapper {
		min-width:320px;
	}
	.header_right {
		display:none;
	}
	.section_3 .items .item {
		width:50%;
	}
	.section_3 .items p {
		font-size:19px;
	}
	.counters .counter {
		width:100%;
	}
	.section_7 .items .item {
		width:100%;
		border:none;
	}
	.section_7 .items .item i {
		display:block;
	}
	.footer_left ul li a {
		font-size:15px;
	}
	.price_icons {
		display:none;
	}
	.price_right {
		display:block;
		text-align:center;
	}
	.price_right .price_short_desc {
		width:90%;
		margin:0 auto;
	}
	.price_item .price_rr {
		display:block;
		text-align:center;
		margin-top:10px;
		margin-bottom:20px;
		width:100%;
	}
	.price_item .price_rr p {
		display:none;
	}
	.price_lefts {
		float:none;
		width:90%;
		margin:0 auto;
	}
	.zayavka_online .zayav_left input {
		width:90%;
		margin-left:auto;
		margin-right:auto;
		display:block;
	}
	.zayavka_online textarea {
		width:90%;
		margin:0 auto;
	}
	.price_rights {
		float:none;
		width:90%;
		margin:0 auto;
		margin-top:30px;
	}
	.zayavka_vopros .zayav_right input[type=submit] {
		width:90%;
		margin-left:0px;
	}
	.zayav_right p {
		padding-left:0px;
	}
	.home_slider {
		position:absolute;
		bottom:20px;
		width:320px;
		left:50%;
		margin-left:-160px;
	}
	.home_form {
		position:absolute;
		top:-40px;
		width:100%;
	}
	.section_1 .wrapper {
		position:relative;
		height:400px;
	}
	.footer_left {
		float:left;
	}
	.footer_left li {
		float:none;
		text-align:center;
	}
	.footer_center {
		float:left;
	}
	.footer_center ul {
		float:left;
		width:45%;
	}
	.nayti .el .colon {
		width:100%;
		float:none;
		margin-left:0px;
		margin-right:0px;
	}
	.nayti .el .colon .karta {
		width:100%;
		overflow-x:hidden;
	}
	.svyzaytsa .el {
		width:80%;
		float:none;
		margin-left:0px;
		margin-right:0px;
	}
}
.home_form label {
	display:inline-block;
	width:49%;
}
.home_form input[type=text].error {
	border-color:brown;
}
.svyzaytsa .el.email.skype_chat {
	background:url("../images/icon_skype.png") no-repeat 20px 0;
}
.land_wrapper {
	max-width:320px;
	margin:0 auto;
}
.contacts_header_land {
	background:url('../mob_land/contacts_header.png') no-repeat top center;
	background-size:cover;
}
.contacts_header_land .land_logo {
	float:left;
	margin-top:14px;
	padding-top:0px;
}
.contacts_header_land .land_phone {
	float:right;
}
.contacts_land_phone {
	text-align:center;
}
.contacts_land_phone a {
	font-size:40px;
	color:#ff6900;
	font-family:"MyriadPro-Bold";
	text-decoration:none;
}
.contacts_land_phone a span {
	font-family:"MyriadPro-Regular";
}
.contacts_land_phone button {
	border:none;
	cursor:pointer;
	transition:0.25s background ease;
	border-style: solid;
	border-width: 3px;
	border-color: rgb(151, 215, 0);
	background-color: rgb(151, 215, 0);
	width: 320px;
	margin-top:10px;
	outline:none;
	height: 34px;
	font-size:18px;
	color:#ffffff;
	font-family:"MyriadPro-Semibold";
	border-radius:15px;
	text-transform:uppercase;
}
.contacts_land_phone button:hover {
	background:#ff6900;
}
.contacts_land_menu {
	line-height:58px;
	background:#ff6900;
	margin-top:30px;
}
.contacts_land_menu a {
	text-decoration:none;
	font-size:19px;
	color:#ffffff;
	margin-left:16px;
}
.contacts_land_menu img {
	position:relative;
	top:7px;
}
.contacts_land_menu a:hover {
	text-decoration:underline;
}
.contacts_land_content {
	text-align:center;
}
.contacts_land_content h1 {
	font-size:27px;
	color:#fe570b;
	font-family:"MyriadPro-Semibold";
	margin-top:24px;
}
.contacts_land_content h2 {
	font-size:21px;
	color:#777777;
	font-family:"MyriadPro-Semibold";
	margin-top:15px;
}
.contacts_land_content .contacts_land_short_desc {
	font-size:21px;
	margin-top:20px;
	color:#777777;
}
.contacts_land_content .contacts_land_short_desc img {
	margin-top:30px;
}
.contacts_land_form {
	position:relative;
	top:0px;
	margin-top:0px;
}
.contacts_land_form_title {
	background:#87c000;
	font-size: 27px;
	color: rgb(255, 255, 255);
	line-height: 1.111;
	padding:19px 0px;
	margin-top:-8px;
	font-family:"MyriadPro-Semibold";
}
.contacts_land_form_subtitle {
	font-size:21px;
	color:#87c000;
	font-family:"MyriadPro-Semibold";
	margin-top:10px;
}
.contacts_land_form  input[type=text], .contacts_land_form textarea {
	width:100%;
	box-sizing:border-box;
	margin:0;
	font-size:18px;
}
.contacts_land_form label {
	width:100%;
}
.contacts_land_form  input[type=text] {
	height:37px;
	margin-top:15px;
}
.contacts_land_form textarea {
	height:189px;
	margin-top:15px;
}
.contacts_land_form h4 {
	display:none;
}
.contacts_land_form input[type=submit] {
	width:100%;
	height:54px;
	border-width:3px;
	font-size:30px;
}
.contacts_land_form p {
	color:#777777;
	margin-top:15px;
}
.contacts_land_form p a {
	color:#87c000;
}
.land_contacts_new .page-buffer {
	display:none;
}
.land_contacts_new #zvonok {
	width:100%;
	box-sizing:border-box;
	max-width:320px;
	border:none;
	background:#fff;
	padding:0px;
}
.land_contacts_new  .fancybox-close {
	background:url('../mob_land/closed.png') no-repeat top center;
	width:24px;
	height:24px;
}
.land_contacts_new .okno .zayav {
	padding:0px;
}
.land_contacts_new .okno .zayav .zag {
	font-size:27px;
	color:#ffffff;
	font-family:"MyriadPro-Semibold";
	line-height:1.2;
	background:#87c000;
	padding-top:30px;
}
.land_contacts_new .okno .zayav input[type=text] {
	height:37px;
}
.land_contacts_new  .success_mail {
	background:#87c000;
	color:#fff;
	padding-top:30px;
	padding-bottom:30px;
}
.map_land {
	margin-bottom:-30px;
}
.time_land, .metro_land {
	line-height:32px;
	font-size:21px;
	color:#777777;

}
.time_land { 
	font-size:25px;
	color:#ff6900;
	font-family:"MyriadPro-Semibold";
	margin-top:20px;
}
.time_land img, .metro_land img  {
	position:relative;
	top:6px;
}
.g-recaptcha {
	width:304px;
	margin:0 auto;
	margin-top:20px;
}