<template>
    <form id="uploadForm" name="uploadForm" enctype="multipart/form-data">
        <label>Сообщение пользователю</label>
        <textarea
                id="body"
                class="form-input"
                @keydown="typing"
                v-model="body">
        </textarea>
        <input type="file" id="files" name="files">
        <div style="text-align:right;">
            <input type="submit" value="Отправить" v-on:click="sendMessage">
        </div>
    </form>
</template>

<script>


    export default {
        data() {
            return {
                body: null,
                requestId: $('#app').attr('data-requestId')
            }
        },
        methods: {
            typing(e) {
                if (e.keyCode === 13 && !e.shiftKey) {
                    this.sendMessage(e);
                }
            },
            sendMessage(e) {
                e.preventDefault();

                var imagefile = document.querySelector('#files');

                if ((this.body && this.body.trim() !== '') || imagefile.files.length > 0) {

                    const data = new FormData(document.getElementById('uploadForm'));
                    data.append('file', imagefile.files);

                    if (this.body) {
                        data.append('body', this.body.trim());
                    }

                    data.append('requestId', this.requestId);
                    axios.post('/message/add', data, {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }).then(response => {

                    }).catch(error => {
                        console.log(error.response)
                    });

                    $('.row-' + this.requestId).removeClass('notRead');

                    this.body = null;
                    $('[type=file]').val('');
                } else {
                    return false;
                }
            },
            buildMessage() {
                return {
                    id: Date.now(),
                    body: this.body,
                    requestId: this.requestId,
                    selfMessage: true,
                    user: {
                        name: Laravel.user.name
                    }
                }
            }
        }
    }
</script>